{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>CHURY | Sign Up</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href="{% static 'user/email/style.css' %}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

</head>
<body>

    {% include 'common/menubar.html' %}

    <section id="intro">
        <div class="container">
            <h1>회원가입</h1>
            <div class="form-container">


                <form class="signup" id="signup_form" method="post" action="{% url 'socialaccount_signup' %}" enctype="multipart/form-data">
                    {% csrf_token %}
                   


                    <div class="field-group">
                        <input type="text" class="form-control" name="username" id="username" placeholder="닉네임 (2자 이상)"
                                value="{{ form.username.value|default_if_none:'' }}">
                        {% if redirect_field_value %}
                        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                        {% endif %}
                        <img src="{% static 'user/email/images/icon-error.svg' %}" class="error-icon" alt="img">
                        <div id="error1">{{ form.errors.username }}</div>
                    </div>
                    <div class="field-group">
                        <input type="email" class="form-control" name="email" id="email" placeholder="이메일 (example@gmail.com)"
                                value="{{ form.email.value|default_if_none:'' }}">
                        {% if redirect_field_value %}
                        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                        {% endif %}
                        <img src="{% static 'user/email/images/icon-error.svg' %}" class="error-icon" alt="img">
                        <div id="error2">{{ form.errors.email }}</div>
                    </div>
                    <div class="field-group">
                        <input type="password" class="form-control" name="password1" id="password1" placeholder="영문, 숫자, 특문 중 2개 조합 8자 이상"
                                 value="{{ form.password1.value|default_if_none:'' }}">
                        <img src="{% static 'user/email/images/icon-error.svg' %}" class="error-icon" alt="img">
                        <div id="error3">{{ form.errors.password1 }}</div>
                    </div>
                    <div class="field-group">
                        <input type="password" class="form-control" name="password2" id="password2" placeholder="비밀번호 재입력" 
                                 value="{{ form.password2.value|default_if_none:'' }}">
                        <img src="{% static 'user/email/images/icon-error.svg' %}" class="error-icon" alt="img">
                        <div id="error4">
                            {% for e in form.errors.password2 %}
                                {{ e }}<br>
                            {% endfor %}
                            {# {{ form.errors.password2 }} #}
                        </div>
                    </div>

                    <div class="checkbox">
                        <div class='agree'>
                            <input id='agree' name='agree' type='checkbox' value="selectall" onclick="selectAll(this)">
                            <label for='agree'>전체 약관에 동의합니다</label>
                        </div>
                        <div class='age'>
                            <input id='age' name='age' type='checkbox' value="age" onclick="is_checked()">
                            <label for='age'>만 14세 이상입니다 (필수)</label>
                        </div>
                        <div class='service'>
                            <input id='service' name='service' type='checkbox' value="service">
                            <label for='service'>추라이 서비스 이용약관에 동의합니다 (선택)</label>
                        </div>
                        <div class='notice'>
                            <input id='notice' name='notice' type='checkbox' value="notice">
                            <label for='notice'>신작 알림 이벤트 정보 수신에 동의합니다 (선택)</label>
                        </div>
                    </div>

                    <div class="field-group">
                        <button id="submit" type="submit" disabled class="submit_toggle">계정 생성하기</button>
                    </div>
                </form>
            </div>
        </div>
    </section>

</body>

<script src="{% static 'user/email/script.js' %}">
</script>
</html>