
  <!--Password Reset Confirm-->
    <!-- <div>
	    <h2>비밀번호 재설정정</h2>
		<hr>
        <p>새 비밀번호를 입력해 주세요.</p>
    </div> -->
    
    <!-- <form method="POST">
        {% csrf_token %}
        {{ form }}
        <button>저장</button>
    </form> -->



{% load static %}

<!DOCTYPE html>
<html> 
    <head> 
        <meta charset='utf-8'>
        <meta http-equiv='X-UA-Compatible' content='IE=edge'>
        <title>CHURY | PwChange</title>
        <meta name='viewport' content='width=device-width, initial-scale=1'>
        
        <link rel='stylesheet' type='text/css' media='screen' href="{% static 'user/login/find.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    </head>
    <body>
        
{% load i18n %}

{% block content %}
<div class="header" >
    <div class="logo">
        <a href="{% url 'board:home' %}"><img src="{% static 'user/login/images/logo.png' %}"></a>
    </div>
    <li class="login_btn">
        <a href="{% url 'user:login' %}"><button class="btn" style="margin-right: 10px;">로그인</button></a>
        <a href="{% url 'user:sign' %}"><button class="btn">회원가입</button></a>
    </li>
</div>
{% if validlink %}
    <section id = 'intro'>
        <div class="container">
            <h1>비밀번호 재설정</h1>
            <div class="find">
                새 비밀번호를 입력해 주세요.
            </div>

            <div class="form-container">
                <form action="" method="post">
                    <div style="display:none">
                        <input type="hidden" value="{{ csrf_token }}"name="csrfmiddlewaretoken">
                    </div>
                    <div class="field-group">
                        <input type="password" name="new_password1" autocomplete="new-password" 
                        required="" id="id_new_password1" placeholder="영문, 숫자, 특문 중 2개 조합 8자 이상">
                    </div>

                    <div class="field-group">
                        <input type="password" name="new_password2" autocomplete="new-password" 
                        required="" id="id_new_password2" placeholder="새 비밀번호 확인">

                        <div class="pw-errors" 
                        style="text-align: right;
                        font-size: .8rem;
                        color: hsl(0, 100%, 74%);
                        font-style: italic;
                        line-height: 20px;">
                            {{ form.new_password2.errors }}
                        </div>

                    </div>

                    <div class="field-group">
                        <button type="submit" value="Change my password">비밀번호 저장하기</button>
                    </div>
                    
                </form>
            </div>
        </div>
    </section>

    {% else %}

    <section id = 'intro'>
        <div class="container">
            <div class="link_img">
                <img src="{% static 'user/email/images/link.png' %}"
                style="width: 200px; margin-bottom: 20px;">
            </div>

            <h1>Page Not Found</h1>
            <div class="find3">
                <li>비밀번호 재설정 페이지가 유효하지 않습니다.</li><br>
                <li>링크를 다시 발급받으려면 CHURY에 접속해 주세요.</li>
            </div>
        </div>
    </section>


    {% endif %}
{% endblock %}


    </body>
</html>
