
{% load static %}

<!DOCTYPE html>
<html> 
    <head> 
        <meta charset='utf-8'>
        <meta http-equiv='X-UA-Compatible' content='IE=edge'>
        <title>CHURY | PwSuccess</title>
        <meta name='viewport' content='width=device-width, initial-scale=1'>
        
        <link rel="shortcut icon" href="/static/board/detail/image/churyico2.ico">
        <link rel='stylesheet' type='text/css' media='screen' href="{% static 'user/login/find.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    </head>
    <body>
        
        <div class="header" >
            <div class="logo">
                <a href="{% url 'board:home' %}"><img src="{% static 'user/login/images/logo.png' %}"></a>
            </div>
            <li class="login_btn">
                <a href="{% url 'user:login' %}"><button class="btn" style="margin-right: 10px;">로그인</button></a>
                <a href="{% url 'user:sign' %}"><button class="btn">회원가입</button></a>
            </li>
        </div>
    
        <section id="intro">
            <div class="container">
				<div class="good_img">
					<img src="{% static 'user/email/images/good.png' %}" alt="">
				</div>
              	<h1>비밀번호 재설정 완료</h1>
            
				<div class="find3">
					<li>비밀번호가 재설정 되었습니다. 다시 로그인해 주세요.</li><br>
				</div>
                  

            </div>
        </section>

		

    </body>
</html>
