{% load static %}

<!DOCTYPE html>
<html> 
    <head> 
        <meta charset='utf-8'>
        <meta http-equiv='X-UA-Compatible' content='IE=edge'>
        <title>CHURY | Pwfind</title>
        <meta name='viewport' content='width=device-width, initial-scale=1'>
        
        <link rel='stylesheet' type='text/css' media='screen' href="{% static 'user/login/find.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    </head>
    <body>
        
        <div class="header" >
            <div class="logo">
                <a href="{% url 'board:home' %}"><img src="{% static 'user/login/images/logo.png' %}"></a>
            </div>
            <li class="login_btn">
                <a href="{% url 'user:login' %}"><button class="btn" style="margin-right: 10px;">로그인</button></a>
                <a href="{% url 'user:sign' %}"><button class="btn">회원가입</button></a>
            </li>
        </div>
    
        <section id="intro">
          <div class="container">
            <h1>비밀번호 재설정</h1>
            <div class="find">
              가입되어 있는 이메일 주소를 입력해 주세요.
            </div>
            <div class="form-container">
            <form method="POST">
              {% csrf_token %}
              <div class="field-group">
                <input type="email" class="form-control" name="email" id="email" placeholder="이메일 (example@gmail.com)"
                    value="{{ form.email.value|default_if_none:'' }}"> 
                    <!-- {{ password_reset_done_fail }} -->
              </div>
              <div class="find2">
                <li>입력하신 이메일 주소로 비밀번호 재설정 메일을 보내드립니다.</li>
                <li>재설정 메일은 24시간 내에만 유효합니다.</li>
              </div>
              <div class="field-group">
                <button type="submit">비밀번호 재설정하기</button>
              </div>
            </form>
          </div>
        </section>
    </body>
</html>
