{% load static %}
<!DOCTYPE html>
<html>
<head> 
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>CHURY | My Page</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="shortcut icon" href="/static/board/detail/image/churyico2.ico">
    <link rel='stylesheet' type='text/css' media='screen' href="{% static 'mypage/loglock.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- datepicker -->
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    
</head>
<body>
    <div class="sidebar">
        <a href="{% url 'board:home' %}"><div class="logo"></div></a>

        <ul>
            <li><a href="{% url 'mypage:profile' %}">내정보 홈</a></li>
            <li><a href="{% url 'mypage:library' pk=user.id %}">내 책장</a></li>
            <li><a href="{% url 'mypage:env' %}">개인정보 관리</a></li>
        
            <div class="sidebar-use">
                <li class="top" id="top"><a href="{% url 'mypage:loglock' pk=user.username %}">로그인 및 보안</a></li>
            </div>
            <li class="bottom"><a href="#">이용권/결제정보</a></li>
            <li class="top"><a href="{% url 'mypage:notice' %}">FAQ</a></li>
            <li class="bottom"><a href="{% url 'user:logout' %}" style="color: #ffc000;">로그아웃</a></li>
        </ul>
    </div>
       
    <div class="home">
        <div class="header">
            <li class="login_btn">
                <a href="{% url 'user:logout' %}"><button class="btn">로그아웃</button></a>
            </li>    
        </div>
        <h1>로그인 및 보안</h1>
        <h3>로그인 계정을 관리하고 보안기능을 설정할 수 있습니다. 보안 기능을 설정하고 더욱 안전하게 계정을 보호하세요.</h4>
  


        <div class="box">
            
            <span class="btnm login-account">
                <div class="title">계정 정보</div>
                <div class="right">></div>
            </span>
            <!-- 첫 번째 Modal -->
            <div class="modal">
                <!-- 첫 번째 Modal의 내용 -->
                <div class="modal-content">
                    <span class="close">&times;</span>
                    
                    <div class="modal-wrapper">
                        <div class="modal-inner">
                            <div class="othertxt">
                                <a href="{% url 'mypage:loglock' pk=user.username %}"><img src="{% static 'mypage\images\close.svg' %}" alt=""></a>
                                <div class="warning">추라이에서 로그인 가능한<br>계정 정보를 확인해 주세요.</div>
                                <div class="account-box">
                                    <div class="account-info">이메일</div>
                                    <div class="email-info">{{ user.email }}</div>
                                </div>
                                <div class="description">
                                    연결된 계정으로 간편하게 로그인 할 수 있고,<br>
                                    추라이의 다양한 서비스를 이용할 수 있습니다.
                                </div>
                
                            </div>
                            <div class="modal-buttons">
                                <a href="{% url 'mypage:loglock' pk=user.username %}">
                                    <button class="cancel-btn">확인</button></a>
                                <!-- <button class="change-btn">확인</button> -->
                            </div>
                        </div>
                    </div>

                </div>
            </div>
         
            <span class="btnm step2">
                <div class="title">2단계 인증</div>
                <div class="right">></div>
            </span>
            <!-- 두 번째 Modal -->
                <div class="modal">
                <!-- 두 번째 Modal의 내용 -->
                <div class="modal-content">
                    <span class="close">&times;</span>
                    
                    <div class="modal-wrapper">
                        <div class="modal-inner">
                            <div class="othertxt">
                                <a href="{% url 'mypage:loglock' pk=user.username %}"><img src="{% static 'mypage\images\close.svg' %}" alt=""></a>
                                <div class="warning">2단계 인증</div>
                                <div class="description">
                                    이메일 인증을 통해 계정을 안전하게 보호하세요.<br>
                                    비밀번호를 잊어버렸을 때 인증된 메일로<br>
                                    비밀번호 찾기 링크를 보내드립니다.
                                </div>
                                <div class="explain">
                
                                    <div class="login-first">
                                        <i class="fa-solid fa-unlock fa-3x"></i><br>
                                        <div class="login-text">
                                            계정/이메일<br>로그인
                                        </div>
                                    </div>
                
                                    <div class="next-step">
                                        <i class="fa-solid fa-chevron-right"></i>
                                        <br>
                                        <br>
                                        <br>
                                    </div>
                
                                    <div class="number">
                                        <i class="fa-solid fa-computer-mouse fa-3x"></i>
                                        <div class="number-text">
                                            전송된 메일 속<br>링크 클릭
                                        </div>
                                    </div>
                
                                    <div class="next-step">
                                        <i class="fa-solid fa-chevron-right"></i>
                                        <br>
                                        <br>
                                        <br>
                                    </div>
                
                                    <div class="done">
                                        <i class="fa-solid fa-circle-check fa-3x"></i>
                                        <div class="done-text">
                                            2단계 인증<br>로그인 완료
                                        </div>
                                    </div>
                
                                </div>
                            </div>
                            <div class="modal-buttons2">
                                <a href="{% url 'mypage:loglock' pk=user.username %}">
                                    <button class="cancel-btn" style="margin-left: 55px;">취소</button></a>
                                <form method="POST">
                                    {% csrf_token %}
                                    <a href="{% url 'mypage:loglock' pk=user.username %}">
                                        <input type="hidden" class="form-control" name="email" id="email"
                                            value="{{ form.email.value|default_if_none:'' }}">
                                        <button type="submit" style="position: absolute;" class="change-btn" id=btn onclick='changeBtnName()'>이메일 전송</button>
                                    </a>
                                </form>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
         
            <div class="btnm record">
                <div class="title">로그인 기록</div>
                <div class="right">></div>
            </div>
            <!-- 세 번째 Modal -->
                <div class="modal">
                <!-- 세 번째 Modal의 내용 -->
                <div class="modal-content">
                    <span class="close">&times;</span>

                    <div class="modal-wrapper">
                        <div class="modal-inner">
                            <div class="othertxt">
                                <a href="{% url 'mypage:loglock' pk=user.username %}"><img src="{% static 'mypage\images\close.svg' %}" alt=""></a>
                                <div class="warning">로그인 기록은<br>최근 3개월까지 조회가능합니다.</div>
                                
                                <div class="descriptions">
                                    <div class="description2">
                                        회원님이 모르는 로그인 기록이 확인되었나요?<br>
                                        보안 설정으로 내 계정을 보호해주세요.
                                    </div> 
                                    <a href="{% url 'mypage:loglock' pk=user.username %}">
                                        <div class="go-step2">
                                            <i class="fa-regular fa-hand-pointer fa-lg"></i>
                                        </div>
                                    </a>
                                </div>
                
                                <hr>
                            </div>
                
                
                            <!-- datepicker -->
                            <div class="calendar">
                                <input type="text" id="datepicker1">
                                <h4>-</h4>
                                <input type="text" id="datepicker2">
                                <button>조회</button>
                            </div>
                
                
                            <!-- 접속 기록 -->
                            <div class="recording">
                                <div class="recording1">
                                    <div class="date">{{ user.last_login}}</div>
                                    <!-- <div class="web">카카오로그인 성공 / 추라이 PC(웹)</div> -->
                                    <!-- <div class="location">IP 112.164.99.22 / 대한민국</div> -->
                                </div>
                    
                                <div class="recording2">
                                    <div class="date">가입일 : {{ user.date_joined }}</div>
                                    <!-- <div class="web">카카오로그인 성공 / 추라이 PC(웹)</div> -->
                                    <!-- <div class="location">IP 112.164.99.22 / 대한민국</div> -->
                                </div>
                            </div>
                
                        </div>
                    </div>

                </div>
            </div>
    
            
        </div>
    </div>
</body>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>

function changeBtnName()  {
  const btnElement 
    = document.getElementById('btn');
  
  const html 

    = '<button style="width: 190px; height: 45px; font-size: 15px; border-radius: 5px; border: none; background-color: #636363; cursor: text; letter-spacing: 2px;">전송 완료</button>'
  
  btnElement.innerHTML = html;
}









// Modal을 가져옵니다.
var modals = document.getElementsByClassName("modal");
// Modal을 띄우는 클래스 이름을 가져옵니다.
var btns = document.getElementsByClassName("btnm");
// Modal을 닫는 close 클래스를 가져옵니다.
var spanes = document.getElementsByClassName("close");
var funcs = [];
 
// Modal을 띄우고 닫는 클릭 이벤트를 정의한 함수
function Modal(num) {
  return function() {
    // 해당 클래스의 내용을 클릭하면 Modal을 띄웁니다.
    btns[num].onclick =  function() {
        modals[num].style.display = "block";
        console.log(num);
    };
 
    // <span> 태그(X 버튼)를 클릭하면 Modal이 닫습니다.
    spanes[num].onclick = function() {
        modals[num].style.display = "none";
    };
  };
}
 
// 원하는 Modal 수만큼 Modal 함수를 호출해서 funcs 함수에 정의합니다.
for(var i = 0; i < btns.length; i++) {
  funcs[i] = Modal(i);
}
 
// 원하는 Modal 수만큼 funcs 함수를 호출합니다.
for(var j = 0; j < btns.length; j++) {
  funcs[j]();
}
 
// Modal 영역 밖을 클릭하면 Modal을 닫습니다.
window.onclick = function(event) {
  if (event.target.className == "modal") {
      event.target.style.display = "none";
  }
};

window.onclick = function(e){
    if(e.target == modal) {
        modal.style.visibility = "hidden";
        modal.style.opacity = 0;
    }
}


$.datepicker.setDefaults({
    dateFormat: 'yy-mm-dd',
    prevText: '이전 달',
    nextText: '다음 달',
    monthNames: ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'],
    monthNamesShort: ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'],
    dayNames: ['일', '월', '화', '수', '목', '금', '토'],
    dayNamesShort: ['일', '월', '화', '수', '목', '금', '토'],
    dayNamesMin: ['일', '월', '화', '수', '목', '금', '토'],
    showMonthAfterYear: true,
    yearSuffix: '년',
    minDate: "-3M",
    maxDate: "0M"
});

$(function() {
    $("#datepicker1, #datepicker2").datepicker({
        dateFormat: 'yy.mm.dd'
    });
});


   
</script>
</html>

