{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>CHURY | My Page</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href="{% static 'mypage/user-modal/picture.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>



<div class="sidebar">
    <a href="{% url 'board:home' %}"><div class="logo"></div></a>

    <ul> 
        <div class="sidebar-home">
            <li><a href="info.html">내정보 홈</a></li>
        </div>
        <div class="sidebar-book">
            <li><a href="book.html">내 책장</a></li>
        </div>
        <div class="sidebar-use">
            <li><a href="#">개인정보 관리</a></li>
        </div>
        <li class="top"><a href="loglock.html">로그인 및 보안</a></li>
        <li class="bottom"><a href="#">이용권/결제정보</a></li>
        <li><a href="#">고객지원센터</a></li>
        <li class="bottom"><a href="{% url 'user:logout' %}" style="color: #ffc000;">로그아웃</a></li>

    </ul>
</div>

<div class="home">
    <div class="header">
          
    </div>
    <h1>개인정보 관리</h1>
    <h3>추라이에 등록된 개인정보 정보를 확인할 수 있습니다. 최신 정보로 관리해주세요.</h4>
    <div class="box">
        <div class="nickname">
            <div class="title">닉네임</div>
            <div class="right">></div>
        </div>
        <div class="pc-change">
            <div class="title">프로필사진 변경</div>
            <div class="right">></div>
        </div>
        <div class="pw-change">
            <div class="title">비밀번호 변경</div>
            <div class="right">></div>
        </div>

        <div class="exit">
            <div class="title">회원 탈퇴</div>
            <div class="right">></div>
        </div>
    </div>
</div>


<!-- modal -->
<div class="overlay"></div>

<div class="modal-wrapper">
    <div class="modal-inner">
        <div class="othertxt">
            <form action="{% url 'mypage:picture' user.pk %}" method="post">
                {% csrf_token %}
                <a href="{% url 'mypage:env' %}"><img src="{% static 'mypage\images\close.svg' %}" alt=""></a>
                <div class="warning">추라이 서비스 이용 시<br>노출되는<br>프로필사진입니다.</div>
            <div class="middle">
                <div class="left">
                    <div class="upload">
                        <i class="fa-solid fa-file-import"></i>
                        사진 업로드
                    </div>
                    <div class="delete">
                        <i class="fa-solid fa-trash"></i>
                        사진 삭제
                    </div>
                </div>
                <div class="picture"></div>    
            </div>
        </div>
        <div class="modal-buttons">
            <a href="/mypage/env/">
                <button class="cancel-btn">취소</button>
            </a>
            <button type="submit" class="change-btn">변경</button>
        </div>
    </form>
    </div>
</div>

</body>
</html>
