/* 별점 start */
#myform fieldset{
    display: inline-block; /* 하위 별점 이미지들이 있는 영역만 자리를 차지함.*/
    direction: rtl; /* 이모지 순서 반전 */
    border: 0; /* 필드셋 테두리 제거 */
  }
  /* #myform fieldset legend{
    text-align: left;
  }
  
  #myform fieldset {
    margin: 0;
    padding: 0;
  } */
  
  #myform input[type=radio]{
    display: none; /* 라디오박스 감춤 */
  }
  #myform label{
    font-size: 2em; /* 이모지 크기 */
    color: transparent; /* 기존 이모지 컬러 제거 */
    text-shadow: 0 0 0 #818181; /* 새 이모지 색상 부여 */
  }
  #myform label:hover{
    text-shadow: 0 0 0 rgb(252, 187, 66); /* 마우스 호버 */
  }
  #myform label:hover ~ label{
    text-shadow: 0 0 0 rgb(252, 187, 66); /* 마우스 호버 뒤에오는 이모지들 */
  }
  #myform input[type=radio]:checked ~ label{
    text-shadow: 0 0 0 rgb(252, 187, 66); /* 마우스 클릭 체크 */
  }
  /* 별점 end */


/*  */
<!-- <br>

                    <form name="myform" id="myform" method="post" action="./save">
                        <fieldset>
                            <legend></legend>
                            <br>
                            <input type="radio" name="rating" value="5" id="rate1"><label for="rate1">⭐</label>
                            <input type="radio" name="rating" value="4" id="rate2"><label for="rate2">⭐</label>
                            <input type="radio" name="rating" value="3" id="rate3"><label for="rate3">⭐</label>
                            <input type="radio" name="rating" value="2" id="rate4"><label for="rate4">⭐</label>
                            <input type="radio" name="rating" value="1" id="rate5"><label for="rate5">⭐</label>
                        </fieldset>
                    </form> -->
