<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>{% block title %} {% endblock %}</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    
    {% load static %}
    <link rel="stylesheet" href="{% static 'bs/bootstrap.min.css' %}">

</head>
<body>  
    {% if user.is_authenticated %}
    {% block body %}
        
    {% endblock body %}
    {% else %}
    <script type="text/javascript">
        
            alert("잘못된 접근입니다. 로그인해주세요.");
        
    </script>
    <script type="text/javascript">
        window.location.replace('/user/login/')
    </script>
    {% endif %}
    </div>
</body>
</html>