@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Pretendard-Regular';
}

.sidebar {
    position: fixed;
    left: 0;
    width: 250px;
    height: 100%;
    background: black;
}

.logo {
    display: block;
    width: 150px;
    height: 40px;
    background-image: url("../mypage/images/logo.png");
    background-size: contain;
    margin-left: 40px;
    margin-top: 40px;
    margin-bottom: 30px;
    cursor: pointer;
}

.sidebar ul a {
    display: block;
    height: 100%;
    width: 100%;
    line-height: 65px;
    font-size: 18px;
    color: white;
    padding-left: 40px;
    box-sizing: border-box;
    transition: .4s;
    text-decoration: none;
    letter-spacing: 1px;
}

/* 해당카테고리 bold */
.top {
    font-weight: 800;
}

.top {
    margin-bottom: 15px;
}
.bottom {
    border-top: 1px solid rgb(56, 56, 56);
    padding-top: 15px;
}


ul li:hover a {
    padding-left: 50px;
}

.home { 
    width: 100vw;
    height: 100vh;
    background-color: rgb(243, 243, 243);
}


/* =========== */

.header{
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: -1;
}

.login_btn{
    /*왼쪽에 붙어있게 해주는 아래 두 줄*/
    display: flex;
    justify-content: flex-end;

    margin-right: 40px;

    width: 100%;
}

.btn{
    height: 30px;
    background-color: black;
    border: none;
    border-radius: 30px;
    color: white;
    padding: 10px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    font-weight: 700;
    cursor: pointer;
 }
 

/* =========== */

/* 개인정보 관리 */
.home h1 {
    position: fixed;
    margin-left: 320px;
    margin-top: 120px;
}

.home h3 {
    position: fixed;
    margin-left: 320px;
    margin-top: 180px;

    font-size: medium;
    font-weight: 500;
    color: #6e6e6e;
    letter-spacing: 0.5px;
}

/* =================================== */
.box {
    position: fixed;
    margin-left: 320px;
    margin-top: 230px;
    width: 1140px;
    height: 480px;
    gap: 20px;
    /* background-color: blue; */
    /* height는 더 늘어나도 됨. 화면 넘어가면 scroll 추가하기 */
}


/* 닉네임 박스 */
.login-account{
    position: absolute;
    width: 560px;
    height: 80px;
    align-items: center;
    display: flex;
    font-size: 18px;
    font-weight: 500;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    cursor: pointer;
    letter-spacing: 0.5px;

    text-decoration: none;
    color: black;
}

.title {
    margin-left: 30px;
    margin-right: auto;
}
.right {
    margin-right: 30px;
}
.login-account:hover {
    background-color: rgb(238, 238, 238);
}


/* 2단계 인증 박스 */
.step2 {
    position: absolute;
    margin-left: 580px;

    width: 560px;
    height: 80px;
    align-items: center;
    display: flex;
    font-size: 18px;
    font-weight: 500;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    cursor: pointer;
    letter-spacing: 0.5px;

    text-decoration: none;
    color: black;

}
.title {
    margin-left: 30px;
    margin-right: auto;
}
.right {
    margin-right: 30px;
}
.step2:hover {
    background-color: rgb(238, 238, 238);
}


/* 로그인 기록 박스 */
.record {
    position: absolute;
    margin-top: 100px;

    width: 560px;
    height: 80px;
    align-items: center;
    display: flex;
    font-size: 18px;
    font-weight: 500;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    cursor: pointer;
    letter-spacing: 0.5px;

    text-decoration: none;
    color: black;
}
.title {
    margin-left: 30px;
    margin-right: auto;
}
.right {
    margin-right: 30px;
}
.record:hover {
    background-color: rgb(238, 238, 238);
}

/* 모달 */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}


/* ********************************************************* */

.othertxt { 
    height: auto;
    position: relative;
  }
  
  .warning {
      font-size: 1.6rem;
      text-align: left;
      color: white;
      font-weight: 600;
      letter-spacing: 1px;
      line-height: 40px;
      margin: 40px;
      margin-left: 60px;
      margin-top: 60px;
  }
    
  
  .description {
      margin-top: 40px;
      text-align: left;
      margin-left: 60px;
      font-size: 15px;
      letter-spacing: 1px;
      color: #ddd;
      font-weight: 500;
      line-height: 25px;
  }
  
  .explain {
      margin-top: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding-left: 60px;
      padding-right: 60px;
      gap: 10px;
  }

/* 계정/이메일 로그인 */
.login-first i {
    width: 100px;
    height: 100px;
    background-color: white;
    color: rgb(30, 30, 30);
    border-radius: 50%;
    text-align: center;
    padding-top: 28px;
}
.login-first {
    text-align: center;
    color: white;
    font-size: 15px;
    letter-spacing: 0.5px;
    line-height: 20px;

}
.login-text {
    margin-top: 10px;
}

/* 비밀번호 6자리 입력 */
.number i {
    width: 100px;
    height: 100px;
    background-color: white;
    color: rgb(30, 30, 30);
    border-radius: 50%;
    text-align: center;
    padding-top: 30px;
}
.number {
    text-align: center;
    color: white;
    font-size: 15px;
    letter-spacing: 0.5px;
    line-height: 20px;

}
.number-text {
    margin-top: 10px;
}


/* 2단계인증 입력 */
.done i {
    width: 100px;
    height: 100px;
    background-color: white;
    color: rgb(30, 30, 30);
    border-radius: 50%;
    text-align: center;
    padding-top: 28px;
}
.done {
    text-align: center;
    color: white;
    font-size: 15px;
    letter-spacing: 0.5px;
    line-height: 20px;
}
.done-text {
    margin-top: 10px;
}

/* 오른쪽 화살표 */
.next-step {
    color: #ddd;
    padding-left: 5px;
    padding-right: 5px;
    
}

.othertxt img {
    position: absolute;
    width: 20px;
    filter: opacity(0.4) drop-shadow(0 0 0 white);
    margin: 0;
    right: 60px;
    cursor: pointer;
  }
  
  
  .modal-buttons {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 65px;
  }
  
  .cancel-btn {
    width: 190px;
    height: 45px;
    margin-right: 10px;
    font-size: 15px;
    border-radius: 5px;
    border: none;
    background-color: #636363;
    cursor: pointer;
    letter-spacing: 2px;
  }
  .cancel-btn:hover {
    background-color: rgb(172, 172, 172);
  }

  .change-btn {
    width: 190px;
    height: 45px;
    font-size: 15px;
    border-radius: 5px;
    border: none;
    background-color: #636363;
    cursor: pointer;
    letter-spacing: 2px;
  }
  .change-btn:hover {
    background-color: rgb(172, 172, 172);
  }
  
/* *********************************************************** */


/* 로그인계정 관리 modal */

.overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    animation: fadeIn 0.5s;
    animation-fill-mode: both;
  }
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

  
.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
  
.modal-inner {
  width: 500px;
  background-color: rgb(30, 30, 30);
  border-radius: 12px;
  animation: showPopup 0.75s;
  animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}
@keyframes showPopup {
  from {
      opacity: 0;
      transform: scale(0.8);
  }
  to {
      opacity: 1;
      transform: scale(1);
  }
}

.othertxt { 
  height: auto;
  position: relative;
}

.warning {
    font-size: 1.6rem;
    text-align: left;
    color: white;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 40px;
    margin: 40px;
    margin-left: 60px;
    margin-top: 60px;
}
  
.account-box {
    width: 380px;
    height: 45px;
    background-color: white;
    margin-left: 60px;
    display: flex;
    align-items: center;
    font-size: 15px;
    font-weight: 600;
    color: #636363;
    letter-spacing: 2px;
}

.account-info {
    margin-left: 20px;
    margin-right: 20px;
}

.description {
    margin-top: 40px;
    text-align: left;
    margin-left: 60px;
    font-size: 15px;
    letter-spacing: 1px;
    color: #ddd;
    font-weight: 500;
    line-height: 25px;
}

.description2 {
    text-align: left;
    margin-left: 60px;
    font-size: 15px;
    letter-spacing: 1px;
    color: #ddd;
    font-weight: 500;
    line-height: 25px;
}

.othertxt img {
  position: absolute;
  width: 20px;
  filter: opacity(0.4) drop-shadow(0 0 0 white);
  margin: 0;
  right: 60px;
  cursor: pointer;
}


.modal-buttons {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 65px;
}

.modal-buttons2 {
    display: flex;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 65px;
}


.cancel-btn {
  width: 190px;
  height: 45px;
  margin-right: 10px;
  font-size: 15px;
  border-radius: 5px;
  border: none;
  background-color: #636363;
  cursor: pointer;
  letter-spacing: 2px;
}
.cancel-btn:hover {
  background-color: rgb(172, 172, 172);
}

.change-btn {
  width: 190px;
  height: 45px;
  font-size: 15px;
  border-radius: 5px;
  border: none;
  background-color: #636363;
  cursor: pointer;
  letter-spacing: 2px;
}
.change-btn:hover {
  background-color: rgb(172, 172, 172);
}

@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
    
  .modal-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
    
  .modal-inner {
    width: 500px;
    background-color: rgb(30, 30, 30);
    border-radius: 12px;
    animation: showPopup 0.75s;
    animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  }
  @keyframes showPopup {
    from {
        opacity: 0;
        transform: scale(0.8);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
  }
  
  .othertxt { 
    height: auto;
    position: relative;
  }
  
  .warning {
      font-size: 1.6rem;
      text-align: left;
      color: white;
      font-weight: 600;
      letter-spacing: 1px;
      line-height: 40px;
      margin: 40px;
      margin-left: 60px;
      margin-top: 60px;
  }
  
  .descriptions {
      display: flex;
      align-items: center;
  }
  
  .description {
      text-align: left;
      margin-left: 60px;
      font-size: 15px;
      letter-spacing: 1px;
      color: #ddd;
      font-weight: 500;
      line-height: 25px;
      margin: none;
  }
  
  .go-step2 {
      width: 45px;
      height: 45px;
      margin-left: 45px;
      background-color: white;
      border-radius: 50%;
      color: rgb(30, 30, 30);
      text-align: center;
      padding-top: 12px;
  }
  
  .othertxt hr {
      border: 0;
      height: 0;
      border-top: 1px solid rgba(0, 0, 0, 0.1);
      border-bottom: 1px solid rgba(255, 255, 255, 0.3);
      margin-left: 55px;
      margin-top: 35px;
      margin-bottom: 40px;
      width: 390px;
  }
    
  
  
  .othertxt img {
    position: absolute;
    width: 20px;
    filter: opacity(0.4) drop-shadow(0 0 0 white);
    margin: 0;
    right: 60px;
    cursor: pointer;
  }
  
  /* ============================================ */
  /* datepicker */
  .calendar {
      display: flex;
      justify-content: center;
      height: 30px;
      gap: 10px;
      margin-bottom: 40px;
  }
  
  .calendar h4 {
      color: white;
      margin-top: 5px;
  }
  
  .calendar input {
      width: 145px;
      font-size: 13px;
      font-weight: 500;
      border: none;
      outline: none;
      letter-spacing: 2px;
      text-align: center;
      color: black;
      background-color: white;
  }
  
  .calendar button {
      font-size: 13px;
      font-weight: 500;
      letter-spacing: 1px;
      text-align: center;
      width: 60px;
      border: none;
      cursor: pointer;
      border-radius: 30px;
      background-color: #ffc000;
  }
  
  /* .calendar input::placeholder {
      color: #636363;
      font-size: 15px;
      font-weight: 600;
      letter-spacing: 2px;
  } */
  
  /* ============================================== */
  
  .recording{
      color: white;
      width: 380px;
      height: 150px;
      overflow-y: scroll;
      background-color: rgb(30, 30, 30);
      justify-content: center;
      margin-left: 60px;
      margin-bottom: 75px;
      font-size: 15px;
      line-height: 25px;
      letter-spacing: 1px;
      padding-left: 10px;
      padding-top: 10px;
  }
  
  .date {
      font-weight: 600;
  }
  .web {
      color: #ddd;
  }
  .location {
      color: #ddd;
  }
  
  .recording2 {
      margin-top: 20px;
  }
  



  