@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') /*format('woff')*/;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Pretendard-Regular';
}

.error-text, 
.error-icon {
    display: none;
}

.field-group.error .error-text,
.field-group.error .error-icon {
    display: block;
}

.field-group.error input {
    border: 1px solid hsl(0, 100%, 74%);
    /* border-radius: 5px; */
}



.header{
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
}

.logo{
    margin-left: 40px;
}

.login_btn{
    /*왼쪽에 붙어있게 해주는 아래 두 줄*/
    display: flex;
    justify-content: flex-end;

    margin-right: 40px;

    width: 100%;
}

.btn{
    height: 30px;
    background-color: black;
    border: none;
    border-radius: 30px;
    color: white;
    padding: 10px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    font-weight: 700;
    cursor: pointer;
 }


#intro {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(./images/signup_bg.jpg);
    background-size: cover;
    padding: 100px 0;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 0 30px;
    max-width: 1300px;
    margin: 0 auto;
}

.container h1 {
    color: black;
    font-size: 1.7rem;
    letter-spacing: 1px;
    font-weight: 700;
    margin-bottom: 20px;
}

.form-container {
    width: 350px;
}

.field-group {
    position: relative;
}

.field-group input {
    position: relative;
    margin-bottom: 25px;
}

.field-group input,
.field-group button[type = submit] {
    width: 350px;
    height: 40px; /*인풋칸 세로길이*/
    border: 0;
    border-bottom: 1px solid #636363;
    padding-left: 20px;
    outline: none;
    background: transparent;
    font-weight: 600;
    letter-spacing: 1px;
}

.field-group input { /*인풋텍스트크기,두께*/
    font-size: 15px;
    font-weight: 500;
}

.field-group input:focus {
    border: 1px solid #636363;
    background: white;
    /* border-radius: 5px; */
}

.field-group input::placeholder {
    color: #636363;
    font-size: 13px;
    font-weight: 500;
}

.field-group button[type = submit] {
    padding: 0;
    position: relative;
    cursor: pointer;
    background-color: #ffbf00a3;
    border: none;
    border-radius: 30px;
    color: #3B3B3B;
    letter-spacing: 1px;
    font-size: 16px;
    font-weight: 600;
    height: 60px; /*계정생성버튼 세로길이*/
    /* margin-top: 15px; */
}

.field-group button[type = submit]:hover {
    background-color: #ffc000;
}

.find {
    margin-top: 20px;
    font-size: 12px;
    font-weight: 400;
    color: #636363;
    letter-spacing: 0.7px;
}

/* hr */
.hr-line {
    margin-top: 50px;
    color: #636363;
    font-size: 13px;
    font-weight: 100;
}

.hr-line:before {
    content:" ";
    display: block;
    height: 0.5px;
    width: 165px;
    position: absolute;
    top: 50%;
    left: 0;
    background: #636363;
}

.hr-line {
    position: relative;
    text-align: center;
}

.hr-line:after {
    content:" ";
    height: 0.5px;
    width: 165px;
    background: #636363;
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
}


/* 계정연결 */
.account-btn {
  /* height: 250px;
  padding: 24px; */
  box-sizing: border-box;
  text-align: center;
  vertical-align: middle;
  display: flex;
}

/*네이버버튼*/
.naver-btn {
  width: 170px !important;
  height: 40px !important; /*버튼크기*/
  border-radius: 5px !important;
  cursor: pointer;
  position: relative;
  border: none;
  background-color: #2DB400;
  margin-top: 20px;
  /* margin-bottom: 10px; */
  margin-right: 10px;
}

.naver-btn:hover {
  background-color: #3cca0d;
}

.naver-btn img {
  width: 20px;
  display: flex;
  position: absolute;
  left: 15px;
  bottom: 10px;
}

.naver-btn h2 {
    color: rgb(30, 30, 30);
    letter-spacing: 1px;
    font-size: 13px;
    margin-left: 20px;
}



/*카카오버튼*/
.kakao-btn {
  width: 170px;
  height: 40px; /*버튼크기*/
  border-radius: 5px;
  cursor: pointer;
  position: relative;
  border: none;
  background-color: #f7c600;
  margin-top: 20px;
}

.kakao-btn:hover {
  background-color: #F7E600;
}

.kakao-btn img {
  width: 20px;
  display: flex;
  position: absolute;
  left: 15px;
  bottom: 10px;
}

.kakao-btn h2 {
 color: rgb(30, 30, 30);
 letter-spacing: 1px;
 font-size: 13px;
 margin-left: 20px;
}

#errorid, #errorpw, #erroridpw {
    margin-left: -200%;
    text-align: right;
    position: relative; top: -25px;
    text-align: right;
    font-size: .8rem;
    color: hsl(0, 100%, 74%);
    font-style: italic;
}
