{% load static %}
<!doctype html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CHURY | Detail</title>
    <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static 'board/detail/detail.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
</head>
<body>
    {% if user.is_authenticated %}
    <nav id="nav">
        <div class="left">
            <div class="logo">
                <a href="{% url 'board:home' %}"><img src="{% static 'board/detail/image/logo.png' %}" alt=""></a>
            </div>
            <div class="mobile-menu">메뉴</div>
            <ul class="menu-list">
                <li>
                    <!-- <a href="#">일반</a> -->
                </li>
                <li>
                    <!-- <a href="#">로맨스</a> -->
                </li>
                <li>
                    <!-- <a href="#">BL</a> -->
                </li>
                <li>
                    <!-- <a href="#">판타지/무협</a> -->
                </li>
            </ul>
        </div>
        <div class="right">
            <form action="{% url 'board:search' %}" method="get" id="searchForm">
                {% csrf_token %}
                <div class="input-group">
                    <select name="searchType" class="form-select" style="margin-right: 10px; padding: 5.9px; border: 1px solid black; float:left;">
                        <option value="title">제목 검색</option>
                        <option value="author">저자 검색</option>
                        <option value="keyword">키워드 검색</option>
                    </select>
                    <div class="icon search" style="float:left;">
                        <div class="search-bar">
                            <i class="fa-solid fa-magnifying-glass"></i>
                            <input type="text" name="searchWord" class="form-control" placeholder=" 검색어 입력 후 엔터" onkeypress="if( event.keyCode == 13 ){enterKey();}" style="padding-left: 10px;">
                        </div>
                    </div>
                </div>
            </form>
            <div class="icon profile">
                <a href="#">
                    <div class="avatar-box"></div>
                    <i class="fa-solid fa-caret-down"></i>
                    <div class="dropdown-content">
                        <a href="{% url 'mypage:profile' %}">내 정보</a>
                        <a href="{% url 'mypage:library' pk=user.id %}">내 책장</a>
                        <a href="{% url 'mypage:env' %}">개인정보 관리</a>
                        <a href="{% url 'mypage:loglock' pk=user.username %}">로그인 및 보안</a>
                        <a href="{% url 'user:logout' %}" style="color: rgb(253, 110, 85);">로그아웃</a>
                    </div>
                </a>
            </div>
        </div>
    </nav>
    {% for i in detail_data %}
    <div class="wrap" id="wrap">
        <main class="main">
            <div class="book-info">
                <div class="book-img"><img src="{{ i.cover_img_url }}" style="width: 200px;
                height: 300px; border-radius: 10px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);" alt="">
                </div>
                {% if i.keyword %}
                <div class="text">
                    <div class="text1">
                        <button id="category_name1" class="tag1">{{ i.장르 }}</button>
                {% endif %}
                        <div class="title">{{ i.제목 }}</div>
                        <table border="0" class="info">
                            <tr>
                                <td><b>작&nbsp;&nbsp;&nbsp;가&nbsp;&nbsp;</b></td>
                                <td>&nbsp;&nbsp;{{ i.작가 }}</td>
                            </tr>
                        </table>
                    </div>
                    <div class="text2">
                        <div class="eggs">
                            {% if i.point %}
                            <div class="egg-imgs">
                                <img src="{% static 'board/detail/image/1.svg' %}" class="egg1" id="egg1" style="display: none; margin-top: -5px;" alt="">
                                <img src="{% static 'board/detail/image/2.svg' %}" class="egg2" id="egg2" style="display: none;" alt="">
                                <img src="{% static 'board/detail/image/3.svg' %}" class="egg3" id="egg3" style="display: none;" alt="">
                                <img src="{% static 'board/detail/image/4.svg' %}" class="egg4" id="egg4" alt="">
                                <img src="{% static 'board/detail/image/5.svg' %}" class="egg5" id="egg5" style="display: none;" alt="">
                            </div>
                            <div class="point" id="point">{{ i.point }}</div>
                            <div class="point-text">점/5점</div>

                            {% else %}
                            <div class="no-eggs">
                                <div class="comment">
                                    등록된 리뷰가 없습니다.&ensp;&ensp;&ensp;
                                </div>
                            </div>
                            {% endif %}
                            <div class="icons">
                                {% if i.tag == '최신' %}
                                <a class="fa-solid fa-circle-play fa-3x" title="바로 보기" href="https://www.joara.com/book/{{ i.book_url }}" style="float:left;"></a>
                                {% else %}
                                <a class="fa-solid fa-circle-play fa-3x" title="바로 보기" href="https://www.joara.com/book/" style="float:left;"></a>
                                {% endif %}
                                {% if isbook %}
                            <form action="{% url 'mypage:mydic_del' %}" method="post" style="float:left; margin-left: 10px;"> 
                                {% csrf_token %}
                                <input value="{{ i.id }}" name="book_id" id="book_id" style="display: none;">
                                <input value="{{ user.id }}" name="id" id="id" style="display: none;">
                                
                                <button type="submit" class="fa-solid fa-circle-minus fa-3x" onclick="button1_click();" title="내 책장에서 빼기"></button>
                                <script>
                                    function button1_click() {
                                        alert('내 책장에서 제외되었습니다.')
                                    }
                                </script>
                            </form>
                            {% else %}
                            <form action="{% url 'mypage:mydic' %}" method="post" style="float:left; margin-left: 10px;"> 
                                {% csrf_token %}
                                <input value="{{ i.id }}" name="book_id" id="book_id" style="display: none;">
                                <input value="{{ user.id }}" name="id" id="id" style="display: none;">
                                
                                <button type="submit" class="fa-solid fa-circle-plus fa-3x" onclick="button2_click();" title="내 책장에 담기"></button>
                                <script>
                                    function button2_click(seq){
                                        alert('내 책장에 추가되었습니다.')
                                        // Swal.fire({
                                        //     title: '내 책장에 추가되었습니다.',
                                        //     imageUrl: "{{ i.cover_img_url }}",
                                        //     imageWidth: 150,
                                        //     imageHeight: 225,
                                        //     timer: 3000,
                                        //     })
                                    }
                                </script>
                            </form>
                            {% endif %}
                            </div>
                        </div>
                    </div> 
                </div>
            </div>
        </main>
        <div class="section1">
            <div class="recommend">
                <!-- <div class="title2">이 도서를 읽은 독자들이 같이 본 도서</div> -->
                <div class="title2">&nbsp; &nbsp; 이 책도 추라이 해보실래요?</div>
                {% for i in response_intro %}
                <div class="related-books">
                    {% csrf_token %}
                    <input value="{{ user.id }}" name="id" id="id" style="display: none;">
                    <input value="{{ i.id }}" name="book_id" id="book_id" style="display: none;">
                    <table border="0">
                        <tr>
                            <td>
                                <form action="{% url 'board:detail' pk=i.id %}" method="post">
                                    {% csrf_token %}
                                    <input value="{{ user.id }}" name="id" id="id" style="display: none;">
                                    <input value="{{ i.id }}" name="book_id" id="book_id" style="display: none;">
                                    <input type="image" class="related-book" src="{{ i.cover_img_url }}" alt="책 이미지">
                                </form>

                            </td>
                        </tr>
                        <tr>
                            <td>
                                <form action="{% url 'board:detail' pk=i.id %}" method="post">
                                    {% csrf_token %}
                                    <input value="{{ user.id }}" name="id" id="id" style="display: none;">
                                    <input value="{{ i.id }}" name="book_id" id="book_id" style="display: none;">
                                    <div class="related-title" style="text-align: center;">{{ i.제목 }}</div>
                                </form>
                                
                            </td>
                        </tr>
                    </table>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="section2">
            <table border="0" align="center">
                <th class="table1"></th>
                <th class="table2"></th>
                <tr>
                    <td class="table1-1"><h3>키워드</td>
                    <td>
                        {% for key in keyword %}
                        <button id="category_name2" class="tag2">{{ key }}</button>
                        {% endfor %} 
                        <br><br>
                    </td>
                </tr>
                <tr>
                    <td class="table1-1"><h3>책 소개</h3></td>
                    <td>
                        <div class="content">
                            <p><hr>
                                <div class="blank-top"></div>
                                <div class="intro">{{ i.인트로 }}</div>
                                <div class="blank-bottom"></div>
                                <hr></p>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="table1-1"><h3>별점</h3></td>
                    <!-- 실험 2 -->
                    <td>
                        {% if star %}
                        <form action="{% url 'mypage:mydic2' %}" method="post">
                            {% csrf_token %}
                            <input value="{{ i.id }}" name="book_id" id="book_id" style="display: none;">
                            <input value="{{ user.id }}" name="id" id="id" hidden>
                            
                            <div class="content2" style="margin-right: 700px;">
                                <span class="star">
                                    ★★★★★
                                    {% if star.0.star == 1 %}
                                    <span style="width: 20%;">★★★★★</span>
                                    {% elif star.0.star == 2 %}
                                    <span style="width: 40%;">★★★★★</span>
                                    {% elif star.0.star == 3 %}
                                    <span style="width: 60%;">★★★★★</span>
                                    {% elif star.0.star == 4 %}
                                    <span style="width: 80%;">★★★★★</span>
                                    {% elif star.0.star == 5 %}
                                    <span style="width: 100%;">★★★★★</span>
                                    {% endif %}
                                    <input type="range" name="star" id="star" oninput="drawStar(this)" value="1" step="1" min="0" max="5">
                                    <br>  
                                </span>
                                <input type="submit" value="수정하기" onclick="star_re();" class="enroll"
                                style="color: white; font-size:15px; letter-spacing: 2px;">
                            </div>
                            <script>
                                function star_re(seq){
                                    alert('별점이 수정되었습니다.');
                                }
                            </script>
                        </form> 

                        {% else %}
                        <form action="{% url 'mypage:mydic2' %}" method="post">
                            {% csrf_token %}
                            <input value="{{ i.id }}" name="book_id" id="book_id" style="display: none;">
                            <input value="{{ user.id }}" name="id" id="id" hidden>
                            
                            <div class="content2" style="margin-right: 700px;">
                                <span class="star">
                                    ★★★★★
                                    <span>★★★★★</span>
                                    <input type="range" name="star" id="star" oninput="drawStar(this)" value="1" step="1" min="0" max="5">
                                    <br>  
                                </span>
                                <input type="submit" value="등록" onclick="star_click();" class="enroll"
                                style="color: white; font-size:15px; letter-spacing: 2px;">
                            </div>
                            <script>
                                function star_click(seq){
                                    alert('별점이 등록되었습니다.');
                                }
                            </script>
                        </form>
                        {% endif %}
                    </td>
            
                </tr>
            </tr>
                    <td><br><br><br><br><br></td>
                </tr>
            </table>
        </div>
    </div>
    {% endfor %}
    <script>
        // 별점
        const drawStar = (target) => {
            document.querySelector(`.star span`).style.width = `${target.value * 20}%`;
        }

        // 계란 이미지 변경
        var tab = document.querySelectorAll(".egg-imgs");
        var img11 = document.querySelector("img.egg1");
        var img22 = document.querySelector("img.egg2");
        var img33 = document.querySelector("img.egg3");
        var img44 = document.querySelector("img.egg4");
        var img55 = document.querySelector("img.egg5");
        var points = document.getElementById("point").innerText;
        // console.log(parseInt(points.substr(0, 2)))
        console.log(points)

        if (points==5){
            //점수가 5점인 경우
            img11.style.display = 'none';
            img22.style.display = 'none';
            img33.style.display = 'none';
            img44.style.display = 'none';
            img55.style.display = 'inline';

        } else if (points==4) {
            // 점수가 4점인 경우
            img11.style.display = 'none';
            img22.style.display = 'none';
            img33.style.display = 'none';
            img44.style.display = 'inline';
            img55.style.display = 'none';

        } else if (points==3) {
            // 점수가 3점인 경우
            img11.style.display = 'none';
            img22.style.display = 'none';
            img33.style.display = 'inline';
            img44.style.display = 'none';
            img55.style.display = 'none';

        } else if (points==2) {
            // 점수가 2점인 경우
            img11.style.display = 'none';
            img22.style.display = 'inline';
            img33.style.display = 'none';
            img44.style.display = 'none';
            img55.style.display = 'none';

        } else {
            // 점수가 1점인 경우
            img11.style.display = 'inline';
            img22.style.display = 'none';
            img33.style.display = 'none';
            img44.style.display = 'none';
            img55.style.display = 'none'; 
        }

        // 계란 이미지 변경
        var tab = document.querySelectorAll(".egg-imgs");
        var img11 = document.querySelector("img.egg1");
        var img22 = document.querySelector("img.egg2");
        var img33 = document.querySelector("img.egg3");
        var img44 = document.querySelector("img.egg4");
        var img55 = document.querySelector("img.egg5");
        var points = document.getElementById("point").innerText;
        // console.log(parseInt(points.substr(0, 2)))
        console.log(points)

        if (points==5){
            //점수가 5점인 경우
            img11.style.display = 'none';
            img22.style.display = 'none';
            img33.style.display = 'none';
            img44.style.display = 'none';
            img55.style.display = 'inline';

        } else if (points==4) {
            // 점수가 4점인 경우
            img11.style.display = 'none';
            img22.style.display = 'none';
            img33.style.display = 'none';
            img44.style.display = 'inline';
            img55.style.display = 'none';

        } else if (points==3) {
            // 점수가 3점인 경우
            img11.style.display = 'none';
            img22.style.display = 'none';
            img33.style.display = 'inline';
            img44.style.display = 'none';
            img55.style.display = 'none';

        } else if (points==2) {
            // 점수가 2점인 경우
            img11.style.display = 'none';
            img22.style.display = 'inline';
            img33.style.display = 'none';
            img44.style.display = 'none';
            img55.style.display = 'none';

        } else {
            // 점수가 1점인 경우
            img11.style.display = 'inline';
            img22.style.display = 'none';
            img33.style.display = 'none';
            img44.style.display = 'none';
            img55.style.display = 'none'; 
        }

        // 별 이미지 변경
        var tabs = document.querySelectorAll(".star-imgs");
        var img11s = document.querySelector("img.star1");
        var img22s = document.querySelector("img.star2");
        var img33s = document.querySelector("img.star3");
        var img44s = document.querySelector("img.star4");
        var img55s = document.querySelector("img.star5");
        var pointss = document.getElementById("star-point").innerText;
        console.log(pointss)
        if (pointss>=5) {
            img11s.style.display = 'none'
            img22s.style.display = 'none'
            img33s.style.display = 'none'
            img44s.style.display = 'none'
            img55s.style.display = 'inline'
        }
        else if (pointss>=4) {
            img11s.style.display = 'none'
            img22s.style.display = 'none'
            img33s.style.display = 'none'
            img44s.style.display = 'inline'
            img55s.style.display = 'none'
        }
        else if (pointss>=3) {
            img11s.style.display = 'none'
            img22s.style.display = 'none'
            img33s.style.display = 'inline'
            img44s.style.display = 'none'
            img55s.style.display = 'none'
        }
        else if (pointss>=2) {
            img11s.style.display = 'none'
            img22s.style.display = 'inline'
            img33s.style.display = 'none'
            img44s.style.display = 'none'
            img55s.style.display = 'none'
        }
        else {
            img11s.style.display = 'inline'
            img22s.style.display = 'none'
            img33s.style.display = 'none'
            img44s.style.display = 'none'
            img55s.style.display = 'none'
        }
        // 카테고리
        const a = document.getElementById("category_name1").innerText;
        const b = document.getElementById("category_name2").innerText;
        var c = a.split('>').reverse()[1];
        var d = b.split('>').reverse()[0];
        document.getElementById("category_name1").innerText = c;
        document.getElementById("category_name2").innerText = d;
  
  


    </script>

    {% else %}
    <div class="h3 text-info">잘못된 접근입니다. 로그인해주세요</div>
    
    <script type="text/javascript">
        
            alert("잘못된 접근입니다. 로그인해주세요.");
        
    </script>
    <script type="text/javascript">
        window.location.replace('/user/login/')
    </script>
    {% endif %}
</body>
</html>