{% extends 'common/base.html' %}

{% block body %}

    <div>
	    <div style="text-align: center; max-width: 500px; margin: 4rem auto;">
	    	<h2 style="font-family: 'NanumSquareB'">
                <hr>
            </h2>
	    </div>
    </div>

        {% for i in response %}
        <table>
            <tr>
                <td rowspan="10" ><img src="{{ i.cover }}" alt="책 이미지" style="width: 300px; height: 450px;"></td>
                <td>제목</td>
                <td>{{ i.title }}</td>
            </tr>
            <tr>
                <td>지은이</td>
                <td>{{ i.author }}</td>
            </tr>
            <tr>
                <td>지은이</td>
                <td>{{ i.author }}</td>
            </tr>
            <tr>
                <td>지은이</td>
                <td>{{ i.author }}</td>
            </tr>
            <td>
                <form action="{% url 'mypage:mydic' %}" method="post">
                    {% csrf_token %}
                    <input value="{{ i.isbn13 }}" name="mydic" id="mydic">
                    <input value="{{ user.email }}" name="email" id="email">
                    
                    <input type="submit" value="내 도서관에 추가">
                </form>
            </td>
            <tr>
                <td colspan="2"><a href="https://kr1lib.org/ireader/12008598">보기</td>
            </tr>
        </table>
        {{ mydic.temp }}

        {% endfor %}

            
{% endblock %}
