{% load static %}
<!doctype html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>detail</title>
    <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static 'board/detail/detail.css' %}">
</head>
<body>
    {% if user.is_authenticated %}
    <nav id="nav">
        <div class="left">
            <div class="logo">
                <a href="{% url 'board:home' %}"><img src="{% static 'board/detail/image/logo.png' %}" alt=""></a>
            </div>
            <div class="mobile-menu">메뉴</div>
            <ul class="menu-list">
                <li>
                    <!-- <a href="#">일반</a> -->
                </li>
                <li>
                    <!-- <a href="#">로맨스</a> -->
                </li>
                <li>
                    <!-- <a href="#">BL</a> -->
                </li>
                <li>
                    <!-- <a href="#">판타지/무협</a> -->
                </li>
            </ul>
        </div>
        <div class="right">
            <form action="{% url 'board:search' %}" method="get" id="searchForm">
                <div class="input-group">
                    <select name="searchType" class="form-select" style="margin-right: 10px; padding: 5.9px; border: 1px solid black; float:left;">
                        <option value="title">제목별</option>
                        <option value="author">저자별</option>
                        <option value="category">장르별</option>
                    </select>
                    <div class="icon search" style="float:left;">
                        <div class="search-bar">
                            <i class="fa-solid fa-magnifying-glass"></i>
                            <input type="text" name="searchWord" class="form-control" placeholder=" 검색어 입력 후 엔터" onkeypress="if( event.keyCode == 13 ){enterKey();}" style="padding-left: 10px;">
                        </div>
                    </div>
                </div>
            </form>
            <div class="icon profile">
                <a href="#">
                    <div class="avatar-box"></div>
                    <i class="fa-solid fa-caret-down"></i>
                    <div class="dropdown-content">
                        <a href="{% url 'mypage:profile' %}">내 정보</a>
                        <a href="{% url 'mypage:library' pk=user.username %}">내 책장</a>
                        <a href="{% url 'mypage:env' %}">개인정보 관리</a>
                        <a href="{% url 'mypage:loglock' %}">로그인 및 보안</a>
                        <a href="{% url 'user:logout' %}" style="color: rgb(253, 110, 85);">로그아웃</a>
                    </div>
                </a>
            </div>
        </div>
    </nav>
    {% for i in response.item %}
    <main class="main">
        <div class="side-left"></div>
        <div class="book-info">
            <div class="book-img"><img src="{{ i.cover }}" style="width: 360px;
                height: 495px; border-radius: 10px;" alt=""></div>
            {% if i.categoryName %}
            <div class="text">
                <div class="text1">
                    <button id="category_name1" class="tag1">{{ i.categoryName }}</button>
                    <button id="category_name2" class="tag2">{{ i.categoryName }}</button>
            {% endif %}
                    <div class="title">{{ i.title }}</div>
                    <div class="author">{{ i.author }}</div>
                    <div class="publisher">{{ i.publisher }}</div>
                    <div class="date">{{ i.pubDate }}</div>

                    <div class="eggs">
                        {% if i.customerReviewRank %}
                        <div class="egg-imgs">
                            <img src="{% static 'board/detail/image/1.svg' %}" class="egg1" id="egg1" style="display: none;" alt="">
                            <img src="{% static 'board/detail/image/2.svg' %}" class="egg2" id="egg2" style="display: none;" alt="">
                            <img src="{% static 'board/detail/image/3.svg' %}" class="egg3" id="egg3" style="display: none;" alt="">
                            <img src="{% static 'board/detail/image/4.svg' %}" class="egg4" id="egg4" alt="">
                        </div>
                        <div class="point" id="point">{{ i.customerReviewRank }}점/10점</div>
                        {% else %}
                        <div class="no-eggs">
                            <div class="comment">
                                등록된 리뷰가 없습니다.&ensp;&ensp;&ensp;
                            </div>
                        </div>
                        {% endif %}
                        <div class="icons">
                            <i class="fa-solid fa-circle-play fa-3x" title="바로 보기" style="float:left;"></i>
                            {% if isbook %}
                            <form action="{% url 'mypage:mydic' %}" method="post" style="float:left; margin-left: 10px;"> 
                                {% csrf_token %}
                                <input value="{{ i.isbn13 }}" name="mydic" id="mydic" style="display: none;">
                                <input value="{{ user.email }}" name="email" id="email" style="display: none;">
                                <input value="{{ user.username }}" name="username" id="username" style="display: none;">
                                
                                <button type="submit" class="fa-solid fa-circle-plus fa-3x" title="내 책장에 담기"></button>
                            </form>
                            {% else %}
                            <form action="{% url 'mypage:mydic_del' %}" method="post" style="float:left; margin-left: 10px;"> 
                                {% csrf_token %}
                                <input value="{{ i.isbn13 }}" name="mydic" id="mydic" style="display: none;">
                                <input value="{{ user.email }}" name="email" id="email" style="display: none;">
                                
                                <button type="submit" class="fa-solid fa-circle-minus fa-3x" onclick="button1_click();" title="내 책장에서 빼기"></button>
                                <script>
                                    function button1_click() {
                                        alert("내 책장에서 제외되었습니다.");
                                    }
                                    </script>
                            </form>
                            {% endif %}
                        </div>
                    </div>

                    <div class="recommend">
                        <div class="title2">이 도서를 읽은 독자들이 같이 본 도서</div>
                        <div class="related-books">
                            <div class="related-book"></div>
                            <div class="related-book2"></div>
                            <div class="related-book3"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="side-right" ></div>
    </main>
    <section>
        {% if i.description %}
            <div class="introduce">
                <div class="title">
                    <h3><br><br>책 소개</h3>
                </div>
                <div class="content">
                    <p><hr><br><br><br>{{ i.description }}<br><br><br><br><hr></p>
                </div>
            </div>

        {% endif %}
        <br><br>
          
        <!-- 평점을 매긴 경우 -->
        {% if myread  %}
        <div class="introduce">
            <div class="title">
                <br>
                <h3 style="left: 50px;">{{ user.username }}님 남긴,<br>리뷰 확인하기</h3>
            </div>
            
            <form action="{% url 'mypage:mydic2' %}" method="post">
                {% csrf_token %}
                <input value="{{ i.isbn13 }}" name="mydic" id="mydic" hidden>
                <input value="{{ user.email }}" name="email" id="email" hidden>
                
                <div class="content2" style="margin-right: 700px;">
                    <div><hr style="width: 1054px; margin-left: -50px;"><br><br></div>
                    <span class="star">
                        <div class="star-imgs">
                            <img src="{% static 'board/detail/image/1점.JPG' %}" class="star1" id="star1" style="display: none;" alt="">
                            <img src="{% static 'board/detail/image/2점.JPG' %}" class="star2" id="star2" style="display: none;" alt="">
                            <img src="{% static 'board/detail/image/3점.JPG' %}" class="star3" id="star3" style="display: none;" alt="">
                            <img src="{% static 'board/detail/image/4점.JPG' %}" class="star4" id="star4" style="display: none;" alt="">
                            <img src="{% static 'board/detail/image/5점.JPG' %}" class="star5" id="star5" style="display: none;" alt="">
                        </div>
                        <div class="star-point" id="star-point">{{ myread }}</div>
                        
                        <br>  
                    </span>
                    <input type="submit" value="수정하기" class="enroll"
                    style="color: white; font-size:15px; letter-spacing: 2px;">
                </div>
            </form> 
        </div>
        
        <!-- 평점을 매기지 않은 경우 -->
        {% else %}
        <div class="introduce">
            <div class="title">
                <h3 style="left: 50px;">리뷰 남기기</h3>
            </div>
            
            <form action="{% url 'mypage:mydic2' %}" method="post">
                {% csrf_token %}
                <input value="{{ i.isbn13 }}" name="mydic" id="mydic" hidden>
                <input value="{{ user.email }}" name="email" id="email" hidden>
                
                <div class="content2" style="margin-right: 700px;">
                    <!-- <div><hr style="width: 1054px; margin-left: -50px;"><br><br></div> -->
                    <span class="star">
                        ★★★★★
                        <span>★★★★★</span>
                        <input type="range" name="myread" id="myread" oninput="drawStar(this)" value="1" step="1" min="0" max="5">
                        <br>  
                    </span>
                    <input type="submit" value="등록" class="enroll"
                    style="color: white; font-size:15px; letter-spacing: 2px;">
                </div>
            </form> 
        </div>
        
        {% endif %}
        
        {% endfor %}
    </section>
    <script>
        // 별 이미지 변경
        var tabs = document.querySelectorAll(".star-imgs");
        var img11s = document.querySelector("img.star1");
        var img22s = document.querySelector("img.star2");
        var img33s = document.querySelector("img.star3");
        var img44s = document.querySelector("img.star4");
        var img55s = document.querySelector("img.star5");
        var pointss = document.getElementById("star-point").innerText;
        console.log(pointss)
        if (pointss>=5) {
            img11s.style.display = 'none'
            img22s.style.display = 'none'
            img33s.style.display = 'none'
            img44s.style.display = 'none'
            img55s.style.display = 'inline'
        }
        else if (pointss>=4) {
            img11s.style.display = 'none'
            img22s.style.display = 'none'
            img33s.style.display = 'none'
            img44s.style.display = 'inline'
            img55s.style.display = 'none'
        }
        else if (pointss>=3) {
            img11s.style.display = 'none'
            img22s.style.display = 'none'
            img33s.style.display = 'inline'
            img44s.style.display = 'none'
            img55s.style.display = 'none'
        }
        else if (pointss>=2) {
            img11s.style.display = 'none'
            img22s.style.display = 'inline'
            img33s.style.display = 'none'
            img44s.style.display = 'none'
            img55s.style.display = 'none'
        }
        else {
            img11s.style.display = 'inline'
            img22s.style.display = 'none'
            img33s.style.display = 'none'
            img44s.style.display = 'none'
            img55s.style.display = 'none'
        }
        // 카테고리
        const a = document.getElementById("category_name1").innerText;
        const b = document.getElementById("category_name2").innerText;
        var c = a.split('>').reverse()[1];
        var d = b.split('>').reverse()[0];
        document.getElementById("category_name1").innerText = c;
        document.getElementById("category_name2").innerText = d;

        // 별점 0.5
        const drawStar = (target) => {
            document.querySelector(`.star span`).style.width = `${target.value * 20}%`;
        }

        // 계란 이미지 변경
        var tab = document.querySelectorAll(".egg-imgs");
        var img11 = document.querySelector("img.egg1");
        var img22 = document.querySelector("img.egg2");
        var img33 = document.querySelector("img.egg3");
        var img44 = document.querySelector("img.egg4");
        var points = document.getElementById("point").innerText;
        console.log(parseInt(points.substr(0, 2)))

        if (parseInt(points.substr(0, 2)) >=9){
            //점수가 9점 이상인 경우
            img11.style.display = 'none';
            img22.style.display = 'inline';
            img33.style.display = 'none';
            img44.style.display = 'none';

        } else if (parseInt(points.substr(0, 2)) >=5) {
            // 점수가 5점 이상인 경우
            img11.style.display = 'inline';
            img22.style.display = 'none';
            img33.style.display = 'none';
            img44.style.display = 'none';

        } else if (parseInt(points.substr(0, 2)) >=2) {
            // 점수가 2점 이상인 경우
            img11.style.display = 'none';
            img22.style.display = 'none';
            img33.style.display = 'inline';
            img44.style.display = 'none';

        } else if (parseInt(points.substr(0, 2)) >=0) {
            // 점수가 0점 이상인 경우
            img11.style.display = 'none';
            img22.style.display = 'none';
            img33.style.display = 'none';
            img44.style.display = 'inline';

        } else {
            img11.style.display = 'none';
            img22.style.display = 'none';
            img33.style.display = 'none';
            img44.style.display = 'inline'; 
        }

        
    </script>
    {% else %}
    <div class="h3 text-info">잘못된 접근입니다. 로그인해주세요</div>
    
    <script type="text/javascript">
        
            alert("잘못된 접근입니다. 로그인해주세요.");
        
    </script>
    <script type="text/javascript">
        window.location.replace('/user/login/')
    </script>
    {% endif %}
</body>
</html>