{% load static %}
<!doctype html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CHURY | Main</title>
    <link rel="shortcut icon" href="/static/board/detail/image/churyico2.ico">
    <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static 'main/main.css' %}">
</head>
<body>
    {% if user.is_authenticated %}
    <nav id="nav">
        <div class="left">
            <div class="logo">
                <a href="{% url 'board:home' %}"><img src="{% static 'main/image/logo.png' %}" alt=""></a>
            </div>
            <div class="mobile-menu">메뉴</div>
            <ul class="menu-list">
                <li>
                    <a href="#"></a>
                </li>
                <li>
                    <a href="/board/search/?page=1&searchType=genre&genreWord=로맨스&sortType2=all">로맨스</a>
                </li>
                <li>
                    <a href="/board/search/?page=1&searchType=genre&genreWord=BL&sortType2=all">BL</a>
                </li>
                <li>
                    <a href="/board/search/?page=1&searchType=genre&genreWord=판타지/무협&sortType2=all">판타지/무협</a>
                </li>
            </ul>
        </div>
        <div class="right">
            <form action="{% url 'board:search' %}" method="get" id="searchForm">
                <div class="input-group">
                    <select name="searchType" class="form-select" style="margin-right: 10px; padding: 5.9px; border: 1px solid black; float:left;">
                        <option value="title">제목 검색</option>
                        <option value="author">저자 검색</option>
                        <option value="keyword">키워드 검색</option>
                    </select>
                    <div class="icon search" style="float:left;">
                        <div class="search-bar">
                            <i class="fa-solid fa-magnifying-glass"></i>
                            <input type="text" name="searchWord" class="form-control" placeholder=" 검색어 입력 후 엔터" onkeypress="if( event.keyCode == 13 ){enterKey();}">
                        </div>
                    </div>
                </div>
            </form>

            <!-- <div class="dropdown"> -->
            <div class="icon profile">
                <a href="#">
                    <div class="avatar-box"></div>
                    <i class="fa-solid fa-caret-down"></i>
                    <div class="dropdown-content">
                        <a href="{% url 'mypage:profile' %}">내 정보</a>
                        <a href="{% url 'mypage:library' pk=user.id %}">내 책장</a>
                        <a href="{% url 'mypage:env' %}">개인정보 관리</a>
                        <a href="{% url 'mypage:loglock' pk=user.username %}">로그인 및 보안</a>
                        <a href="{% url 'user:logout' %}" style="color: rgb(253, 110, 85);">로그아웃</a>
                    </div>
                </a>
            </div>
        </div>
    </nav>

    <main>
        <div class="wrap" style="z-index: 1;">
            <div class="slider2" style="height: 620px;">
    
                <!-- image slider start -->
                <div class="slides2">
                    <!-- radio buttons start -->
                    <input type="radio" name="radio-btn" id="radio1">
                    <input type="radio" name="radio-btn" id="radio2">
                    <input type="radio" name="radio-btn" id="radio3">
                    <!-- radio buttons end -->
    
                    <!-- slide images start -->
                    <div class="slide2 first">
                        <a href="#">
                        <img src="{% static 'main/image/1.jpg' %}" alt=""></a>
                    </div>
                    <div class="slide2">
                        <a href="#">
                        <img src="{% static 'main/image/2.jpg' %}" alt=""></a>
                    </div>
                    <div class="slide2">
                        <a href="#">
                        <img src="{% static 'main/image/3.jpg' %}" alt=""></a>
                    </div>
    
                    <!-- slide images end -->
                    <!-- automatic navigation start -->
                    <div class="navigation-auto">
                        <div class="auto-btn1"></div>
                        <div class="auto-btn2"></div>
                        <div class="auto-btn3"></div>
    
                    </div>
                    <!-- automatic navigation end -->
                </div>
                <!-- manual navigation start -->
                <div class="navigation-manual">
                    <label for="radio1" class="manual-btn"></label>
                    <label for="radio2" class="manual-btn"></label>
                    <label for="radio3" class="manual-btn"></label>
    
                </div>
                <!-- manual navigation end -->
                <!-- image slider end -->
            </div>
        </div>
    </main>
    <section class="contents">
        <div class="content-list">
            <h1>{{ user.username }}님 취향저격</h1>
            <div class="slider">
                {% for i in response_data2 %}
                <div class="item">
                    <form action="{% url 'board:detail' pk=i.id %}" method="post">
                        {% csrf_token %}
                            <input value="{{ user.id }}" name="id" id="id" style="display: none;">
                            <div class="descr" style="pointer-events: none;">
                                {{ i.제목 }}<br><br>
                                추천수: {{ i.추천수 }}<br><br>
                                별점: {{ i.point }}점/5점
                            </div>
                            <input type="image" class="imgs" src="{{ i.cover_img_url }}" alt="책 이미지">
                    </form>
                </div>
                {% endfor %}
            </div>
            <div class="prev"><i class="fa-solid fa-angle-right prev-arrow"></i></div>
            <div class="next"><i class="fa-solid fa-angle-right"></i></div>
            <br><br>
        </div>
        <div class="content-list">
            <h1>CHURY TOP 10</h1>
            <div class="slider">
                {% for i in response_top10 %}
                <div class="item">
                    <form action="{% url 'board:detail' pk=i.id %}" method="post">
                        {% csrf_token %}
                        <input value="{{ user.id }}" name="id" id="id" style="display: none;">
                        <div class="descr" style="pointer-events: none;">
                            {{ i.제목 }}<br><br>
                            추천수: {{ i.추천수 }}<br><br>
                            별점: {{ i.point }}점/5점
                        </div>
                        <input type="image" class="imgs" src="{{ i.cover_img_url }}" alt="책 이미지">
                    </form>
                </div>
                {% endfor %}
            </div>
            <div class="prev"><i class="fa-solid fa-angle-right prev-arrow"></i></div>
            <div class="next"><i class="fa-solid fa-angle-right"></i></div>
            <br><br>
        </div>
        <div class="content-list">
            <h1>상상력을 자극하는 SF 소설</h1>
            <div class="slider">
                {% for i in response_sf %}
                <div class="item">
                    <form action="{% url 'board:detail' pk=i.id %}" method="post">
                        {% csrf_token %}
                        <input value="{{ user.id }}" name="id" id="id" style="display: none;">
                        <div class="descr" style="pointer-events: none;">
                            {{ i.제목 }}<br><br>
                            추천수: {{ i.추천수 }}<br><br>
                            별점: {{ i.point }}점/5점
                        </div>
                        <input type="image" class="imgs" src="{{ i.cover_img_url }}" alt="책 이미지">
                    </form>
                </div>
                {% endfor %}
            </div>
            <div class="prev"><i class="fa-solid fa-angle-right prev-arrow"></i></div>
            <div class="next"><i class="fa-solid fa-angle-right"></i></div>
            <br><br>
        </div>
        <div class="content-list">
            <h1>손에 땀을 쥐게하는 공포 소설</h1>
            <div class="slider">
                {% for i in response_fear %}
                <div class="item">
                    <form action="{% url 'board:detail' pk=i.id %}" method="post">
                        {% csrf_token %}
                        <input value="{{ user.id }}" name="id" id="id" style="display: none;">
                        <div class="descr" style="pointer-events: none;">
                            {{ i.제목 }}<br><br>
                            추천수: {{ i.추천수 }}<br><br>
                            별점: {{ i.point }}점/5점
                        </div>
                        <input type="image" class="imgs" src="{{ i.cover_img_url }}" alt="책 이미지">
                    </form>
                </div>
                {% endfor %}
            </div>
            <div class="prev"><i class="fa-solid fa-angle-right prev-arrow"></i></div>
            <div class="next"><i class="fa-solid fa-angle-right"></i></div>
            <br><br>
        </div>
        <div class="content-list">
            <h1>이번주 신규 작품</h1>
            <div class="slider">
                {% for i in response_new %}
                <div class="item">
                    <form action="{% url 'board:detail' pk=i.id %}" method="post">
                        {% csrf_token %}
                        <input value="{{ user.id }}" name="id" id="id" style="display: none;">
                        <div class="descr" style="pointer-events: none;">
                            {{ i.제목 }}<br><br>
                            추천수: {{ i.추천수 }}<br><br>
                            별점: {{ i.point }}점/5점
                        </div>
                        <input type="image" class="imgs" src="{{ i.cover_img_url }}" alt="책 이미지">
                    </form>
                </div>
                {% endfor %}
            </div>
            <div class="prev"><i class="fa-solid fa-angle-right prev-arrow"></i></div>
            <div class="next"><i class="fa-solid fa-angle-right"></i></div>
            <br><br>
        </div>
        <br><br><br><br><br>
    </section>
    <footer>
        <div class="wrap">
            <span class="logo">
                <a href="{% url 'board:home' %}"><img src="{% static 'main/image/logo.png' %}" alt=""></a>
            </span>
            <div class="options">
                <div class="option">자막 및 음성</div>
                <div class="option">음성 지원</div>
                <div class="option">고객 센터</div>
                <div class="option">기프트카드</div>
                <div class="option">미디어 센터</div>
                <div class="option">이용 약관</div>
                <div class="option">개인정보</div>
                <div class="option">문의하기</div>
                <div class="option">회사 정보</div>
                <div class="option">쿠키 설정</div>
            </div>
        </div>
    </footer>
    <script>
        const next = document.querySelectorAll('.next');
        const prev = document.querySelectorAll('.prev');
        const slider = document.querySelectorAll('.slider')

        for(let i =0;i<slider.length;i++){
            getBooks(slider[i],i+1);
            makeSlider(slider[i],prev[i],next[i]);
        }
        function makeSlider(element,prev,next){
            next.addEventListener('click',()=>{
                const offsetX = element.offsetWidth;
                element.scrollBy(offsetX,0)
            })
            prev.addEventListener('click',()=>{
                const offsetX = element.offsetWidth;
                element.scrollBy(-offsetX,0)
            })
        }
        function getBooks(element,page){
            // Key = 'ttbsaspower81040001'
            // categor = '170370'
            // fetch(`http://www.aladin.co.kr/ttb/api/ItemList.aspx?ttbkey=${Key}&QueryType=Bestseller&MaxResults=10&start=1&SearchTarget=eBook&Cover=Big&CategoryId=${categor}&output=js&Version=20131101`)
            //     .then(data=>data.json())
            //     .then(data=>{
            //         const books = data.item;
            //         books.forEach(book=>{
            //             const div = document.createElement('div');
            //             div.className='item';
            //             div.innerHTML = `<img src="" alt="책 이미지" style="width: 150px; height: 200px;">`;
            //             element.appendChild(div);
            //         })
            //     })
        };

        //header 스크롤시 같이 내려가기
        // let header = document.querySelector(".header");
        // let headerHeight = header.offsetHeight;

        // window.onscroll = function () {
        //     let windowTop = window.scrollY;
        //         // 스크롤 세로값이 헤더높이보다 크거나 같으면 
        //         // 헤더에 클래스 'drop'을 추가한다
        //     if (windowTop >= headerHeight) {
        //         header.classList.add("drop");
        //     } 
        //     // 아니면 클래스 'drop'을 제거
        //     else {
        //         header.classList.remove("drop");
        //     }
        // };

        // main 슬라이드
        var counter=1;
        document.getElementById('radio' + counter).checked = true;
        let interval = setInterval(banner,4500)
        function banner(n){
            if (counter == 3) counter = 0

            document.getElementById('radio' + (counter+1)).checked = true;
            counter++;
        }
        function enterKey(){
            $("#form").submit();
        }
    </script>
    {% else %}
    <script type="text/javascript">
        
        alert("잘못된 접근입니다. 로그인해주세요.");
    
    </script>
    <script type="text/javascript">
        window.location.replace('/user/login/')
    </script>
    {% endif %}
</body>
</html>