{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>CHURY</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='{% static 'board/loading/style.css' %}'>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script>
        function ajax(){
            var formValues() = $("form[name=book_select]").serialize();
            
            $.ajax({
                url: "{% url 'board:loading' %}",
                type: "Get",
                data: formValues,
                success: function(json){
                    alert("테스트")
                },
                error: function(){
                    alert("실패")
                },
            })
        }
    </script>
</head>

<body>
    <div class="loader"></div>
    
    <form action="{% url 'board:loading' %}" method="post" name="book_select">
        {% csrf_token %}
        
        {% for i in book_queryset %}
                    
            <input value="{{ user.id }}" id="id{{ forloop.counter0 }}" name="id{{ forloop.counter0 }}"  >
            <input value="{{ i.id }}" id="book_id{{ forloop.counter0 }}" name="book_id{{ forloop.counter0 }}" >
            
        {% endfor %}
            <input type="submit">

    </form>    

</body>
</html>