{% load static %}
<!DOCTYPE html>
<html lang="en">
    
    <head>
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

        <title>CHURY | Search</title>
        <meta content="" name="description">
        <meta content="" name="keywords">
        
  <!-- Vendor CSS Files -->
  <link href="{% static 'board/search/assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'board/search/assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'board/search/search.css' %}" rel="stylesheet">

</head>

<body>
    <nav id="nav">
        <div class="left">
            <div class="logo">
                <a href="{% url 'board:home' %}"><img src="{% static 'board/search/images/logo.png' %}" alt=""></a>
            </div>
            
        </div>

        <form action="{% url 'board:search' %}" method="get" id="searchForm">
            <input type="hidden" id="search_page_num" name="page" value="1">
            <div class="input-group">
                <select name="searchType" class="form-select2">
                    {% if searchType == 'title' %}
                    <option value="title" selected="selected">제목 검색</option>
                    {% else %}
                    <option value="title">제목 검색</option>
                    {% endif %}
                    {% if searchType == 'author' %}
                    <option value="author" selected="selected">저자 검색</option>
                    {% else %}
                    <option value="author">저자 검색</option>
                    {% endif %}
                    {% if searchType == 'keyword' %}
                    <option value="keyword" selected="selected">키워드 검색</option>
                    {% else %}
                    <option value="keyword">키워드 검색</option>
                    {% endif %}
                    {% if searchType == 'genre' %}
                    <option value="keyword" style="display: none;">장르 검색</option>
                    {% endif %}
                </select>
                <div class="icon search">
                    <div class="search-bar">
                        <input type="text" name="searchWord" class="form-control2" value="{{ pr_text|default_if_none:'' }}" placeholder="검색어를 입력하세요" onkeypress="if( event.keyCode == 13 ){enterKey();}">
                        <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                    </div>
                </div>
                <div class="sort">
                    {% if searchType == 'title' %}
                    <select name="sortType" class="form-select3" onchange="this.form.submit()">
                        {% if sortType == 'ViewRating' %}
                        <option value="ViewRating" selected="selected">조회 순</option>
                        {% else %}
                        <option value="ViewRating">조회 순</option>
                        {% endif %}
                        {% if sortType == 'CustomerRating' %}
                        <option value="CustomerRating" selected="selected">추천 순</option>
                        {% else %}
                        <option value="CustomerRating">추천 순</option>
                        {% endif %}
                    </select>
                    {% elif searchType == 'author' %}
                    <select name="sortType" class="form-select3" onchange="this.form.submit()">
                        {% if sortType == 'ViewRating' %}
                        <option value="ViewRating" selected="selected">조회 순</option>
                        {% else %}
                        <option value="ViewRating">조회 순</option>
                        {% endif %}
                        {% if sortType == 'CustomerRating' %}
                        <option value="CustomerRating" selected="selected">추천 순</option>
                        {% else %}
                        <option value="CustomerRating">추천 순</option>
                        {% endif %}
                    </select>
                    {% elif searchType == 'keyword' %}
                    <select name="sortType" class="form-select3" onchange="this.form.submit()">
                        {% if sortType == 'ViewRating' %}
                        <option value="ViewRating" selected="selected">조회 순</option>
                        {% else %}
                        <option value="ViewRating">조회 순</option>
                        {% endif %}
                        {% if sortType == 'CustomerRating' %}
                        <option value="CustomerRating" selected="selected">추천 순</option>
                        {% else %}
                        <option value="CustomerRating">추천 순</option>
                        {% endif %}
                    </select>
                    {% elif searchType == 'genre' %}
                    <select name="sortType" class="form-select3" onchange="this.form.submit()">
                        <option value="ViewRating">조회 순</option>
                    </select>
                    {% endif %}
                </div>
            </div>
        </form>
        
        <div class="right">
          
            <div class="icon profile">
                <a href="#">
                    <div class="avatar-box"></div>
                    <i class="fa-solid fa-caret-down"></i>
                    <div class="dropdown-content">
                        <a href="{% url 'mypage:profile' %}">내 정보</a>
                        <a href="{% url 'mypage:library' pk=user.id %}">내 책장</a>
                        <a href="{% url 'mypage:env' %}">개인정보 관리</a>
                        <a href="{% url 'mypage:loglock' %}">로그인 및 보안</a>
                        <a href="{% url 'user:logout' %}" style="color: rgb(253, 110, 85);">로그아웃</a>
                    </div>
                </a>
            </div>
        </div>
    </nav>
<!-- ?? -->
    <!-- =================================================================================================== -->
    <div  class="search-result">
        <tbody>
            {% if empty %}
            검색어를 입력해주세요.
            {% elif response|length > 0 %}
            <tr>
                {% if searchType == 'title' %}
                '{{ pr_text }}' 에 대한 검색 결과<br>
                {{ response|length }}건이 검색되었습니다.
                {% elif searchType == 'author' %}
                '{{ pr_text }}' 에 대한 검색 결과<br>
                {{ response|length }}건이 검색되었습니다.
                {% elif searchType == 'keyword' %}
                '{{ pr_text }}' 에 대한 검색 결과<br>
                {{ response|length }}건이 검색되었습니다.
                {% elif searchType == 'genre' %}
                <h3>[{{ genre_text }}]</h3>
                {% elif searchType == 'list' %}
                <h3>[{{ list_text }}]</h3>
                {% endif %}
                {% elif response|length == 0 %}
                '{{ pr_text }}' 에 대한 검색결과가 없습니다.
            {% endif %}
            </tr>
        </tbody>
    </div>

    <div class="middle">

        
        <div class="side-left">
            <!-- ======= Sidebar ======= --> 
            <div id="sidebar" class="sidebar">

                <ul class="sidebar-nav" id="sidebar-nav">
                    <li class="nav-item">
                        <a class="nav-link collapsed" data-bs-target="#components-nav15" data-bs-toggle="collapse" href="#">
                            <span>최신 작품</span><i class="bi bi-chevron-down ms-auto"></i>
                        </a>
                        <ul id="components-nav15" class="nav-content collapse" data-bs-parent="#sidebar-nav">
                            <a href="/board/search/?page=1&searchType=genre&searchWord=판타지&sortType=new">
                                <span>판타지</span>
                            </a>
                            </a>
                            <a href="/board/search/?page=1&searchType=genre&searchWord=무협&sortType=new">
                                <span>무협</span>
                            </a>
                            <a href="/board/search/?page=1&searchType=genre&searchWord=퓨전&sortType=new">
                                <span>퓨전</span>
                            </a>
                            <a href="/board/search/?page=1&searchType=genre&searchWord=게임&sortType=new">
                                <span>게임</span>
                            </a>
                            <a href="/board/search/?page=1&searchType=genre&searchWord=로맨스&sortType=new">
                                <span>로맨스</span>
                            </a>
                            <a href="/board/search/?page=1&searchType=genre&searchWord=로판&sortType=new">
                                <span>로맨스 판타지</span>
                            </a>
                            <a href="/board/search/?page=1&searchType=genre&searchWord=BL&sortType=new">
                                <span>BL</span>
                            </a>
                            <a href="/board/search/?page=1&searchType=genre&searchWord=GL&sortType=new">
                                <span>GL</span>
                            </a>
                            <a href="/board/search/?page=1&searchType=genre&searchWord=스포츠&sortType=new">
                                <span>스포츠</span>
                            </a>
                            <a href="/board/search/?page=1&searchType=genre&searchWord=역사&sortType=new">
                                <span>역사</span>
                            </a>
                            <a href="/board/search/?page=1&searchType=genre&searchWord=패러디&sortType=new">
                                <span>패러디</span>
                            </a>
                            <a href="/board/search/?page=1&searchType=genre&searchWord=팬픽&sortType=new">
                                <span>팬픽</span>
                            </a>
                            <a href="/board/search/?page=1&searchType=genre&searchWord=라이트노벨&sortType=new">
                                <span>라이트노벨</span>
                            </a>
                            <!-- ========================================== -->
                        </ul>
                    </li>
        
                    <li class="nav-item">
                        <a class="nav-link collapsed" data-bs-target="#components-nav19" data-bs-toggle="collapse" href="#">
                            <span>완결 작품</span><i class="bi bi-chevron-down ms-auto"></i>
                        </a>
                        <ul id="components-nav19" class="nav-content collapse" data-bs-parent="#sidebar-nav">
                            <a href="/board/search/?page=1&searchType=genre&searchWord=판타지&sortType=end">
                                <span>판타지</span>
                            </a>
                            </a>
                            <a href="/board/search/?page=1&searchType=genre&searchWord=무협&sortType=end">
                                <span>무협</span>
                            </a>
                            <a href="/board/search/?page=1&searchType=genre&searchWord=퓨전&sortType=end">
                                <span>퓨전</span>
                            </a>
                            <a href="/board/search/?page=1&searchType=genre&searchWord=게임&sortType=end">
                                <span>게임</span>
                            </a>
                            <a href="/board/search/?page=1&searchType=genre&searchWord=로맨스&sortType=end">
                                <span>로맨스</span>
                            </a>
                            <a href="/board/search/?page=1&searchType=genre&searchWord=로판&sortType=end">
                                <span>로맨스 판타지</span>
                            </a>
                            <a href="/board/search/?page=1&searchType=genre&searchWord=BL&sortType=end">
                                <span>BL</span>
                            </a>
                            <a href="/board/search/?page=1&searchType=genre&searchWord=GL&sortType=end">
                                <span>GL</span>
                            </a>
                            <a href="/board/search/?page=1&searchType=genre&searchWord=스포츠&sortType=end">
                                <span>스포츠</span>
                            </a>
                            <a href="/board/search/?page=1&searchType=genre&searchWord=역사&sortType=end">
                                <span>역사</span>
                            </a>
                            <a href="/board/search/?page=1&searchType=genre&searchWord=패러디&sortType=end">
                                <span>패러디</span>
                            </a>
                            <a href="/board/search/?page=1&searchType=genre&searchWord=팬픽&sortType=end">
                                <span>팬픽</span>
                            </a>
                            <a href="/board/search/?page=1&searchType=genre&searchWord=라이트노벨&sortType=end">
                                <span>라이트노벨</span>
                            </a>
                        </ul>
                    </li>
                    <!-- =================================================== -->
                </ul>
            </div><!-- End Sidebar--> 
        </div>


        <!-- ======= 책 정보 ======== -->
        <div class="book-info">
            
            {% for i in response %}
            <div class="books">
                <!-- <div class="book-number">1</div> -->
                <a href="#"><div class="book-thumbnail">

                    <form action="{% url 'board:detail' pk=i.id %}" method="post">
                        {% csrf_token %}
                        <input value="{{ user.id }}" name="id" id="id" style="display: none;">
                        <!-- <div class="descr" style="pointer-events: none;">
                            {{ i.title }}<br><br>
                            {{ i.customerReviewRank }}점
                        </div> -->
                        <input type="image" class="imgs" src="{{ i.cover_img_url }}" alt="책 이미지" style="width: 220px;
                        height: 280px;
                        margin-top: 30px;
                        margin-left: 50px;
                        border-radius: 10px;
                        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);">
                    </form>
                </div></a>
                <div class="book-titles">
                    <div>{{ i.tag }} | {{ i.장르 }} </div>
                    <a href="#"><div class="book-title">{{ i.제목 }}</div></a>
                    <div class="book-author">{{ i.작가 }}</div><br>                    
                    
                    <div class="book-other">조회수 {{ i.조회수 }} | 추천수 {{ i.추천수 }}</div>
                    
                    {% if i.customerReviewRank %}
                    <div class="eggs">
                        <div class="point">{{ i.customerReviewRank }}점/10점</div>
                    </div>

                    {% else %}
                    <div class="no-eggs">
                        <div class="comment">
                            &ensp;&ensp;&ensp;등록된 리뷰가 없습니다.
                        </div>
                    </div>
                    {% endif %}

                    <!-- <div class="grade">
                        <div class="egg"></div>
                        {{ i.customerReviewRank }}
                    </div> -->
                </div>
                <div class="book-buttons">
                    <div class="more">
                        <!-- <a href="#"><button>상세보기</button></a> -->
                    </div>
                </div>                
            </div>
            {% endfor %}

            
    
            <!-- pagination -->
            <div class="pagination">
                <ul>
                    <li class="btn prev2" onclick="backBtn2()"><span><<</span></li>
                    <li class="btn prev" onclick="backBtn()"><span><</span></li>
                    <!-- <li class="numb active" value="1" onclick="activeLink(1)">1</li> -->
                    <li class="numb" value="1" onclick="activeLink(1)">1</li>
                    <li class="numb" value="2" onclick="activeLink(2)">2</li>
                    <li class="numb" value="3" onclick="activeLink(3)">3</li>
                    <li class="numb" value="4" onclick="activeLink(4)">4</li>
                    <li class="numb" value="5" onclick="activeLink(5)">5</li>
                    <li class="numb" value="6" onclick="activeLink(6)">6</li>
                    <li class="numb" value="7" onclick="activeLink(7)">7</li>
                    <li class="numb" value="8" onclick="activeLink(8)">8</li>
                    <li class="numb" value="9" onclick="activeLink(9)">9</li>
                    <li class="numb" value="10" onclick="activeLink(10)">10</li>
                    <li class="btn next" onclick="nextBtn()">></li>
                    <li class="btn next2" onclick="nextBtn2()">>></li>
                </ul>
            </div>


            
        </div><!-- book-info 끝 -->
        
        <div class="side-right"></div>
    </div>
    

    <!-- Vendor JS Files -->
    <script src="{% static 'board/search/assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Template Main JS File -->
    <script src="{% static 'board/search/assets/js/main.js' %}"></script>


    <script src="../../static/board/search/search.js"></script>

    <script src="../../static/board/search/search.js"></script>

</body>

</html>