{% load static %}
<!DOCTYPE html>
<html lang="en">
    
    <head>
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

        <title>CHURY | Search</title>
        <meta content="" name="description">
        <meta content="" name="keywords">
        
  <!-- Vendor CSS Files -->
  <link href="{% static 'board/search/assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'board/search/assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'board/search/search.css' %}" rel="stylesheet">

</head>

<body>
    <nav id="nav">
        <div class="left">
            <div class="logo">
                <a href="{% url 'board:home' %}"><img src="{% static 'board/search/images/logo.png' %}" alt=""></a>
            </div>
            
        </div>

        <form action="{% url 'board:search' %}" method="get" id="searchForm">
            <input type="hidden" id="page" name="page" value="1">
            <div class="input-group">
                <select name="searchType" class="form-select2">
                    {% if searchType == 'title' %}
                    <option value="title" selected="selected">제목 검색</option>
                    {% else %}
                    <option value="title">제목 검색</option>
                    {% endif %}
                    {% if searchType == 'author' %}
                    <option value="author" selected="selected">저자 검색</option>
                    {% else %}
                    <option value="author">저자 검색</option>
                    {% endif %}
                    {% if searchType == 'keyword' %}
                    <option value="keyword" selected="selected">키워드 검색</option>
                    {% else %}
                    <option value="keyword">키워드 검색</option>
                    {% endif %}
                    {% if searchType == 'genre' %}
                    <option value="genre" selected="selected" style="display: none;">검색 설정</option>
                    <input type="hidden" name="genreWord" value="{{ genre_text|default_if_none:'' }}">
                    <input type="hidden" name="sortType2" value="{{ sortType2|default_if_none:'' }}">
                    {% endif %}
                </select>
                <div class="icon search">
                    <div class="search-bar">
                        <input type="text" name="searchWord" class="form-control2" value="{{ pr_text|default_if_none:'' }}" placeholder="검색어를 입력하세요" onkeypress="if( event.keyCode == 13 ){enterKey();}">
                        <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                    </div>
                </div>
                <div class="sort">
                    {% if searchType == 'title' %}
                    <select name="sortType" class="form-select3" onchange="this.form.submit()">
                        {% if sortType == 'ViewRating' %}
                        <option value="ViewRating" selected="selected">조회 순</option>
                        {% else %}
                        <option value="ViewRating">조회 순</option>
                        {% endif %}
                        {% if sortType == 'CustomerRating' %}
                        <option value="CustomerRating" selected="selected">추천 순</option>
                        {% else %}
                        <option value="CustomerRating">추천 순</option>
                        {% endif %}
                    </select>
                    {% elif searchType == 'author' %}
                    <select name="sortType" class="form-select3" onchange="this.form.submit()">
                        {% if sortType == 'ViewRating' %}
                        <option value="ViewRating" selected="selected">조회 순</option>
                        {% else %}
                        <option value="ViewRating">조회 순</option>
                        {% endif %}
                        {% if sortType == 'CustomerRating' %}
                        <option value="CustomerRating" selected="selected">추천 순</option>
                        {% else %}
                        <option value="CustomerRating">추천 순</option>
                        {% endif %}
                    </select>
                    {% elif searchType == 'keyword' %}
                    <select name="sortType" class="form-select3" onchange="this.form.submit()">
                        {% if sortType == 'ViewRating' %}
                        <option value="ViewRating" selected="selected">조회 순</option>
                        {% else %}
                        <option value="ViewRating">조회 순</option>
                        {% endif %}
                        {% if sortType == 'CustomerRating' %}
                        <option value="CustomerRating" selected="selected">추천 순</option>
                        {% else %}
                        <option value="CustomerRating">추천 순</option>
                        {% endif %}
                    </select>
                    {% elif searchType == 'genre' %}
                    <select name="sortType" class="form-select3" onchange="this.form.submit()">
                        {% if sortType == 'ViewRating' %}
                        <option value="ViewRating" selected="selected">조회 순</option>
                        {% else %}
                        <option value="ViewRating">조회 순</option>
                        {% endif %}
                        {% if sortType == 'CustomerRating' %}
                        <option value="CustomerRating" selected="selected">추천 순</option>
                        {% else %}
                        <option value="CustomerRating">추천 순</option>
                        {% endif %}
                    </select>
                    {% endif %}
                </div>
            </div>
        </form>
        
        <div class="right">
          
            <div class="icon profile">
                <a href="#">
                    <div class="avatar-box"></div>
                    <i class="fa-solid fa-caret-down"></i>
                    <div class="dropdown-content">
                        <a href="{% url 'mypage:profile' %}">내 정보</a>
                        <a href="{% url 'mypage:library' pk=user.id %}">내 책장</a>
                        <a href="{% url 'mypage:env' %}">개인정보 관리</a>
                        <a href="{% url 'mypage:loglock' pk=user.username %}">로그인 및 보안</a>
                        <a href="{% url 'user:logout' %}" style="color: rgb(253, 110, 85);">로그아웃</a>
                    </div>
                </a>
            </div>
        </div>
    </nav>
<!-- ?? -->
    <!-- =================================================================================================== -->
    <div  class="search-result">
        <tbody>
            {% if empty %}
            검색어를 입력해주세요.
            {% elif total|length > 0 %}
            <tr>
                {% if searchType == 'title' %}
                '{{ pr_text }}' 에 대한 검색 결과<br>
                {{ total|length }}건이 검색되었습니다.
                {% elif searchType == 'author' %}
                '{{ pr_text }}' 에 대한 검색 결과<br>
                {{ total|length }}건이 검색되었습니다.
                {% elif searchType == 'keyword' %}
                '{{ pr_text }}' 에 대한 검색 결과<br>
                {{ total|length }}건이 검색되었습니다.
                {% elif searchType == 'genre' %}
                <h3>[{{ genre_text }}]</h3>
                {% elif searchType == 'list' %}
                <h3>[{{ list_text }}]</h3>
                {% endif %}
                {% elif total|length == 0 %}
                '{{ pr_text }}' 에 대한 검색결과가 없습니다.
            {% endif %}
            </tr>
        </tbody>
    </div>

    <div class="middle">

        
        <div class="side-left">
            <!-- ======= Sidebar ======= --> 
            <div id="sidebar" class="sidebar">

                <ul class="sidebar-nav" id="sidebar-nav">
                    <li class="nav-item">
                        <a class="nav-link collapsed" data-bs-target="#components-nav15" data-bs-toggle="collapse" href="#">
                            <span>최신 작품</span><i class="bi bi-chevron-down ms-auto"></i>
                        </a>
                        <ul id="components-nav15" class="nav-content collapse" data-bs-parent="#sidebar-nav">
                            <a href="/board/search/?page=1&searchType=genre&genreWord=판타지&sortType2=new">
                                <span>판타지</span>
                            </a>
                            </a>
                            <a href="/board/search/?page=1&searchType=genre&genreWord=무협&sortType2=new">
                                <span>무협</span>
                            </a>
                            <a href="/board/search/?page=1&searchType=genre&genreWord=퓨전&sortType2=new">
                                <span>퓨전</span>
                            </a>
                            <a href="/board/search/?page=1&searchType=genre&genreWord=게임&sortType2=new">
                                <span>게임</span>
                            </a>
                            <a href="/board/search/?page=1&searchType=genre&genreWord=로맨스&sortType2=new">
                                <span>로맨스</span>
                            </a>
                            <a href="/board/search/?page=1&searchType=genre&genreWord=로판&sortType2=new">
                                <span>로맨스 판타지</span>
                            </a>
                            <a href="/board/search/?page=1&searchType=genre&genreWord=BL&sortType2=new">
                                <span>BL</span>
                            </a>
                            <a href="/board/search/?page=1&searchType=genre&genreWord=GL&sortType2=new">
                                <span>GL</span>
                            </a>
                            <a href="/board/search/?page=1&searchType=genre&genreWord=스포츠&sortType2=new">
                                <span>스포츠</span>
                            </a>
                            <a href="/board/search/?page=1&searchType=genre&genreWord=역사&sortType2=new">
                                <span>역사</span>
                            </a>
                            <a href="/board/search/?page=1&searchType=genre&genreWord=패러디&sortType2=new">
                                <span>패러디</span>
                            </a>
                            <a href="/board/search/?page=1&searchType=genre&genreWord=팬픽&sortType2=new">
                                <span>팬픽</span>
                            </a>
                            <a href="/board/search/?page=1&searchType=genre&genreWord=라이트노벨&sortType2=new">
                                <span>라이트노벨</span>
                            </a>
                            <!-- ========================================== -->
                        </ul>
                    </li>
        
                    <li class="nav-item">
                        <a class="nav-link collapsed" data-bs-target="#components-nav19" data-bs-toggle="collapse" href="#">
                            <span>완결 작품</span><i class="bi bi-chevron-down ms-auto"></i>
                        </a>
                        <ul id="components-nav19" class="nav-content collapse" data-bs-parent="#sidebar-nav">
                            <a href="/board/search/?page=1&searchType=genre&genreWord=판타지&sortType2=end">
                                <span>판타지</span>
                            </a>
                            </a>
                            <a href="/board/search/?page=1&searchType=genre&genreWord=무협&sortType2=end">
                                <span>무협</span>
                            </a>
                            <a href="/board/search/?page=1&searchType=genre&genreWord=퓨전&sortType2=end">
                                <span>퓨전</span>
                            </a>
                            <a href="/board/search/?page=1&searchType=genre&genreWord=게임&sortType2=end">
                                <span>게임</span>
                            </a>
                            <a href="/board/search/?page=1&searchType=genre&genreWord=로맨스&sortType2=end">
                                <span>로맨스</span>
                            </a>
                            <a href="/board/search/?page=1&searchType=genre&genreWord=로판&sortType2=end">
                                <span>로맨스 판타지</span>
                            </a>
                            <a href="/board/search/?page=1&searchType=genre&genreWord=BL&sortType2=end">
                                <span>BL</span>
                            </a>
                            <a href="/board/search/?page=1&searchType=genre&genreWord=GL&sortType2=end">
                                <span>GL</span>
                            </a>
                            <a href="/board/search/?page=1&searchType=genre&genreWord=스포츠&sortType2=end">
                                <span>스포츠</span>
                            </a>
                            <a href="/board/search/?page=1&searchType=genre&genreWord=역사&sortType2=end">
                                <span>역사</span>
                            </a>
                            <a href="/board/search/?page=1&searchType=genre&genreWord=패러디&sortType2=end">
                                <span>패러디</span>
                            </a>
                            <a href="/board/search/?page=1&searchType=genre&genreWord=팬픽&sortType2=end">
                                <span>팬픽</span>
                            </a>
                            <a href="/board/search/?page=1&searchType=genre&genreWord=라이트노벨&sortType2=end">
                                <span>라이트노벨</span>
                            </a>
                        </ul>
                    </li>
                    <!-- =================================================== -->
                </ul>
            </div><!-- End Sidebar--> 
        </div>


        <!-- ======= 책 정보 ======== -->
        <div class="book-info">
            
            {% for i in response %}
            <div class="books">
                <!-- <div class="book-number">1</div> -->
                <a href="#"><div class="book-thumbnail">

                    <form action="{% url 'board:detail' pk=i.id %}" method="post">
                        {% csrf_token %}
                        <input value="{{ user.id }}" name="id" id="id" style="display: none;">
                        <!-- <div class="descr" style="pointer-events: none;">
                            {{ i.title }}<br><br>
                            {{ i.customerReviewRank }}점
                        </div> -->
                        <input type="image" class="imgs" src="{{ i.cover_img_url }}" alt="책 이미지" style="width: 220px;
                        height: 280px;
                        margin-top: 30px;
                        margin-left: 50px;
                        border-radius: 10px;
                        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);">
                    </form>
                </div></a>
                <div class="book-titles">
                    <div>{{ i.tag }} | {{ i.장르 }} </div>
                    <form action="{% url 'board:detail' pk=i.id %}" method="post">
                        {% csrf_token %}
                        <input value="{{ user.id }}" name="id" id="id" style="display: none;">
                        <button type="submit" id="{{i.id}}" style="display: none;"></button>
                        <a onclick="document.getElementById('{{i.id}}').click();" href="javascript:void(0)"><div class="book-title">{{ i.제목 }}</div></a>
                    </form>
                    <script>
                        btn = document.getElementById('btn')
                        function btn_click() {
                            btn.click()
                        }
                    </script>
                    <div class="book-author">{{ i.작가 }}</div><br>                    
                    
                    <div class="book-other">조회수 {{ i.조회수 }} | 추천수 {{ i.추천수 }}</div>
                    
                <div class="eggs">
                    {% if i.point %}
                    <div class="egg-imgs">
                        <img src="{% static 'board/detail/image/1.svg' %}" class="egg1" id="egg1" style="display: none; margin-top: -5px;" alt="">
                        <img src="{% static 'board/detail/image/2.svg' %}" class="egg2" id="egg2" style="display: none;" alt="">
                        <img src="{% static 'board/detail/image/3.svg' %}" class="egg3" id="egg3" style="display: none;" alt="">
                        <img src="{% static 'board/detail/image/4.svg' %}" class="egg4" id="egg4" style="display: none;" alt="">
                        <img src="{% static 'board/detail/image/5.svg' %}" class="egg5" id="egg5" style="display: none;" alt="">
                    </div>
                    <div class="point" id="point">{{ i.point }}</div>
                    <div class="point-text">점/5점</div>

                    {% else %}
                    <div class="no-eggs">
                        <div class="comment">       
                            등록된 리뷰가 없습니다.&ensp;&ensp;&ensp;
                        </div>
                    </div>
                    {% endif %}
                </div>
                    <!-- <div class="grade">
                        <div class="egg"></div>
                        {{ i.customerReviewRank }}
                    </div> -->
                </div>
                <div class="book-buttons">
                    <div class="more">
                        <!-- <a href="#"><button>상세보기</button></a> -->
                    </div>
                </div>                
            </div>
            {% endfor %}

            
    {% if empty %}
    <div></div>
    {% elif total|length == 0 %}
    <div></div>
    {% elif total|length > 0 %}
    <!-- 페이징 -->
    <ul class="pagination justify-content-center">
        <!-- 이전페이지 -->
        {% if response.has_previous %}
        <li class="page-item">
            <a href="javascript:void(0)" class="page-link" data-page="{{ response.previous_page_number }}">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" tabindex="-1" aria-disabled="true" href="#">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        {% endif %}
        {% for page_number in response.paginator.page_range %} 
            {% if page_number >= response.number|add:-5 and page_number <= response.number|add:5 %}   
                {% if page_number == response.number %}
                    <li class="page-item active">
                        <a href="javascript:void(0)" class="page-link" data-page="{{ page_number }}">{{ page_number }}</a>
                    </li>
                {% else %}
                    <li class="page-item">
                        <a href="javascript:void(0)" class="page-link" data-page="{{ page_number }}">{{ page_number }}</a>
                    </li>
                {% endif %}
            {% endif %}
        {% endfor %}
        <!-- 다음페이지 -->
        {% if response.has_next %}
        <li class="page-item">
            <a href="javascript:void(0)" class="page-link" data-page="{{ response.next_page_number }}">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" tabindex="-1" aria-disabled="true" href="#">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
        {% endif %}
    </ul>
    <!-- 페이징처리 끝 -->
    {% endif %}

            
        </div><!-- book-info 끝 -->
        
        <div class="side-right"></div>
    </div>
    

    <!-- Vendor JS Files -->
    <script src="{% static 'board/search/assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Template Main JS File -->
    <script src="{% static 'board/search/assets/js/main.js' %}"></script>


    <script src="../../static/board/search/search.js"></script>

</body>

</html>
<script>
    // 페이지네이션 ----
    window.onload = function() {
        // 페이징에 사용한 모든 a 태그를 가져와서 변수에 저장
        let a_list = document.getElementsByClassName('page-link');
    
        // 위 a 태그를 반복하면서 클릭 이벤트를 적용
        Array.from(a_list).forEach(function(e) {
            e.addEventListener('click', function() {
                // a 태그에 클릭이 발생하면, a 태그에 작성된 data-page속성 값을 input type hidden에 저장
                document.getElementById('page').value = this.dataset.page
    
                // 검색 양식을 제출해서 뷰로 전달
                document.getElementById('searchForm').submit();
            });
        });
    }
</script>