@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
}

* {
    font-family:'Pretendard-Regular';

}

body {
    overflow-x: hidden;
}

nav{
    height: 80px;
    margin-left: 80px;
}

.logoArea{
    position: absolute;
    left: 8%; 
    margin-top: 25px;

}

.text{
    clear: right;
    width: 100%;
    margin: auto;
    position: absolute;
    left: 130px;
    overflow: auto;
    float: left;
}

.text >h1{
    color: black;
    font-size: 60px;
    margin-bottom: 0;
    line-height: 80px;
    letter-spacing: 0.5px;
    position: fixed;
}

.text > h3{
    color: rgb(119, 117, 117);
    font-size: 25px;
    font-weight: 500; 
    margin-top: 350px; 
    letter-spacing: 0.5px;
    line-height: 40px;
    position: fixed;
}

.text [class="tab"] {
    float: right;
    margin-top: -450px;
    margin-right: 250px; 
    margin-bottom: 50px;
    z-index: 1;
    clear: right;
    vertical-align : bottom;
}

.text [class="tab-btn"] {
    margin-right: 10px;
    margin-bottom: 5px;
    vertical-align : bottom;
} 

.text [class="tab-btn"] :hover {
    cursor: pointer;
    filter: brightness(0.8);

}

.not-choose-btn {
    position: fixed;
    left: 8%;
    bottom: 8%;
    font-size: 22px;
    width: 380px;
    height: 75px;
    text-align: center;
    font-weight: 600;
    background-size: 100% auto;
    color: white;
    border-radius: 40px;
    border: 0;
    outline: 0;
    background-image: linear-gradient(to right, #ff750f 0%, #ffb105 51%, #ffcc00 100%);
    text-decoration: none;
    z-index: 2;
    display: block; width: 400px;
    letter-spacing: 1px;
}

.choose-btn {
    position: fixed;
    left: 20%;
    bottom: 10%;
    font-size: 22px;
    padding: 12px 60px;
    text-align: center;
    font-weight: 600;
    background-size: 100% auto;
    color: white;
    border-radius: 15px;
    border: 0;
    outline: 0;
    background-image: linear-gradient(to right, #ff750f 0%, #ffb105 51%, #ffcc00 100%);
    text-decoration: none;
    z-index: 2;
    display: block; width: 230px;
}

.poster {
    position: relative;
    line-height: 150px;
    border-radius: 10px;
}

.egg {
    padding-top: 60px;
    padding-left: 30px;
    position: absolute;
    z-index: 4;
    line-height: 150px;
}

.tap-btn img .poster {
    margin-top: 50px;

}