@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
}

* {
    font-family:'Pretendard-Regular';
}

/* .logoArea{
    width: 108px;
    height: 30px;
    border-radius: 5;
    margin-top: 10px;
    margin-left: 10px;
} */

.nav{
    height: 80px;
    background-color: #ff750f;
    border-bottom: solid 1px #ddd;
}

.text{
    clear: right;
    width: 100%;
    margin: auto;
    position: absolute;
    left: 130px;
    /* top: 170px; */
    overflow: auto;
    /* margin-right: 50px; */
    float: left;
}

.text >h1{
    color: black;
    font-size: 60px;
    margin-bottom: 0;
    line-height: 80px;
    letter-spacing: 0.5px;
    position: fixed;
}

.text > h3{
    color: rgb(119, 117, 117);
    font-size: 25px;
    font-weight: 500; 
    margin-top: 300px; 
    letter-spacing: 0.5px;
    line-height: 40px;
    position: fixed;
    /* fix 전 margintop = 40px */
}

/* !!!!! tab css !!!!!! */
.text [class="tab"] {
    float: right;
    margin-top: -450px;
    margin-right: 250px; 
    margin-bottom: 50px;
    /* box-shadow: 5px 5px 5px 0px lightgray; */
    z-index: 1;
    clear: right;
    vertical-align : bottom;
}

.text [class="tab-btn"] {
    /* border: 1px solid aqua; */
    margin-right: 10px;
    margin-bottom: 5px;
    vertical-align : bottom;
} 

.text [class="tab-btn"] :hover {
    cursor: pointer;
    filter: brightness(0.8);

}

.not-choose-btn {
    position: fixed;
    left: 13%;
    bottom: 8%;
    font-size: 22px;
    /* padding: 20px 60px; */
    width: 380px;
    height: 75px;
    text-align: center;
    font-weight: 600;
    background-size: 100% auto;
    color: white;
    border-radius: 40px;
    border: 0;
    outline: 0;
    background-image: linear-gradient(to right, #ff750f 0%, #ffb105 51%, #ffcc00 100%);
    text-decoration: none;
    z-index: 2;
    display: block; width: 400px;
    letter-spacing: 1px;
}

.choose-btn {
    position: fixed;
    left: 20%;
    bottom: 10%;
    font-size: 22px;
    padding: 12px 60px;
    text-align: center;
    font-weight: 600;
    background-size: 100% auto;
    color: white;
    border-radius: 15px;
    border: 0;
    outline: 0;
    background-image: linear-gradient(to right, #ff750f 0%, #ffb105 51%, #ffcc00 100%);
    text-decoration: none;
    z-index: 2;
    display: block; width: 230px;
}

.poster {
    position: relative;
    line-height: 150px;
    border-radius: 10px;


}
.egg {
    padding-top: 60px;
    padding-left: 30px;
    position: absolute;
    z-index: 4;
    line-height: 150px;
}

.tap-btn img .poster {
    margin-top: 50px;

}