{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>CHURY | Select</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="shortcut icon" href="/static/board/detail/image/churyico2.ico">
    <link rel='stylesheet' type='text/css' media='screen' href='{% static 'user/choose/style.css' %}'>
    <link rel='stylesheet' type='text/css' media='screen' href='{% static 'board/loading/style.css' %}'>
    

</head>

<body style="overflow-x: hidden;">
    <nav id="nav" style="height: 80px; margin-left: 80px;">

        <div class="header" style="position: absolute; ">
            <div class="logoArea" style="position: absolute; left: 8%; margin-top: 25px;">
                <a href="/"><img src="{% static 'user/choose/image/logo.png' %}"></a>
            </div>
        </div>
    </nav>
    <div style="border-bottom: 1px solid #ddd;">
    </div>
    <div class="text">
        <h1 style="margin-top: 50px;">{{ user.username }} 님, 좋아하는 <br>
        콘텐츠를 3개 이상 <br>
        선택해 주세요. <br><br>
        </h1>
        <h3>
            취향에 딱 맞는 도서를 찾아드리는 데 도움이 됩니다. <br>
            마음에 드는 콘텐츠를 선택하세요.
        </h3>
   
    <form action="{% url 'mypage:choose' %}" method="post" onsubmit="return loading(this);">
        {% csrf_token %}
        <input value="{{ user.id }}" name="id" id="id" hidden>
        <input class="not-choose-btn" type="submit" id="result" name="result" value="3개 이상 선택해주세요" onmouseup="getCheckedCnt()" disabled>
        <!-- <input class="choose-btn" type="submit" id="result" name="result" style="display: none;" value="완료되었습니다!"> -->
        <!-- <button id="result">3개 이상 선택해주세요</button> -->

        <div class="tab" style="margin-top: 60px;">

            {% for i in respon %}

                {% if forloop.counter == 1 %}<div class="one" style="display: flex;">{% endif %}
                {% if forloop.counter == 4 %}<div class="one" style="display: flex;">{% endif %}
                {% if forloop.counter == 7 %}<div class="one" style="display: flex;">{% endif %}
                {% if forloop.counter == 10 %}<div class="one" style="display: flex;">{% endif %}
                {% if forloop.counter == 13 %}<div class="one" style="display: flex;">{% endif %}
                {% if forloop.counter == 16 %}<div class="one" style="display: flex;">{% endif %}
                {% if forloop.counter == 19 %}<div class="one" style="display: flex;">{% endif %}
                <!-- {% if forloop.counter == 22 %}<div class="one" style="display: flex;">{% endif %}
                {% if forloop.counter == 25 %}<div class="one" style="display: flex;">{% endif %} -->
                    
                
                {% if forloop.counter < 19 %}
                 
                
                <input type="checkbox" id="ch{{forloop.counter}}" name="contents" onclick='getCheckedCnt()' style="display:none;">
                <label for="ch{{forloop.counter}}">
                    <div class="tab-btn">
                        <img src="{% static 'user/choose/image/egg.png' %}" width="130px" height="auto" id="egg{{forloop.counter}}" class="egg" style="display:none; margin-left: 23px; margin-top: 15px;">
                        <img src="https://image.tmdb.org/t/p/original/{{ i.poster_path }}" alt="포스터" width="200" height="250" class="poster">
                        <input value="{{ i.gen_ko }}" id="choose" name="choose" class="choose" hidden disabled>
                        <input value="{{ i.overview }}" name="overview" id="overview" class="overview" hidden disabled>
                        <input value="{{ i.title }}" name="titleview" id="titleview" class="titleview" hidden disabled>
                    </div>
                </label>
                
                   
                {% endif %}
            
                {% if forloop.counter == 3 %}</div>{% endif %}
                {% if forloop.counter == 6 %}</div>{% endif %}
                {% if forloop.counter == 9 %}</div>{% endif %}
                {% if forloop.counter == 12 %}</div>{% endif %}
                {% if forloop.counter == 15 %}</div>{% endif %}
                {% if forloop.counter == 18 %}</div>{% endif %}
                {% if forloop.counter == 21 %}</div>{% endif %}
                {% if forloop.counter == 24 %}</div>{% endif %} 
                {% if forloop.counter == 27 %}</div>{% endif %}

            {% endfor %}
                
            
            </div>
        </div>
    </form>

    <div id="loader" name="loader" class="loader" style="display: none;"></div>

</body>

</html>
<script src={% static 'user/choose/script.js' %}></script>
