{% load static %}

<!DOCTYPE html>
<html> 
    <head>
        <meta charset='utf-8'>
        <meta http-equiv='X-UA-Compatible' content='IE=edge'>
        <title>CHURY | Login</title>
        <meta name='viewport' content='width=device-width, initial-scale=1'>
        
        <link rel='stylesheet' type='text/css' media='screen' href="{% static 'user/login/style.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>


    </head>
    <body>
        
        <div class="header" >
            <div class="logo">
                <a href="{% url 'board:home' %}"><img src="{% static 'user/login/images/logo.png' %}"></a>
            </div>
            <li class="login_btn">
                <a href="{% url 'user:sign' %}"><button class="btn">회원가입</button></a>
            </li>
        </div>
    
        <section id="intro">
            <div class="container">
                <h1>로그인</h1>
                <div class="form-container">
                    <form method="post" action="{% url 'user:login' %}">
                        {% csrf_token %} 
                        <div class="field-group">
                            <input type="text" class="form-control" name="username" id="username" placeholder="닉네임 / 이메일 (example@gmail.com)"
                            value="{{ form.username.value|default_if_none:'' }}">
                           <div id="errorid">{{ form.errors.username }}</div>
                        </div>
                        <div class="field-group">
                            <input type="password" class="form-control" name="password" id="password" placeholder="비밀번호"
                            value="{{ form.password.value|default_if_none:'' }}">
                            <div id="errorpw">{{ form.errors.password }}</div>
                        </div>
                        {% if form.username.value %}
                            {% if form.password.value %}
                            <div id="erroridpw">아이디와 비밀번호가 일치하지 않습니다.</div>
                            {% endif %}
                        {% endif %}
                            
                        <div class="field-group">
                            <button type="submit">로그인</button>
                        </div>
                   
                    </form>
                    
                        <div class="find">
                            <a href="{% url 'password_reset' %}"> 
                                비밀번호를 잊어버리셨나요?
                            </a>
                        </div>


                    <h2 class="hr-line">or</h2>

                    {% load socialaccount %}
                    <div class="account-btn">
                        <a href="{% provider_login_url 'naver' method='oauth2' %}">
                            <button class="naver-btn">
                                <img class="naver-img" src="{% static 'user/login/images/naver.png' %}" alt="">
                                <h2>네이버 로그인</h2>
                            </button>
                        </a>
                        <a href="{% provider_login_url 'kakao' method='oauth2' %}">
                            <button class="kakao-btn">
                                <img class="kakao-img" src="{% static 'user/login/images/kakao.png' %}" alt="">
                                <h2>카카오 로그인</h2>
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>