{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>CHURY | Join Us</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href="{% static 'user/modal/modal.css' %}">
    <link rel="stylesheet" href="{% static 'user/modal/animations.css' %}">
</head>
<body>
    <section id="intro">
        <div class="container">
            <div class="logo">
                <img src="{% static 'user/modal/images/logo.png' %}" alt="">
            </div>

            <div class="buttons">
                <button class="emailbtn" role="button">이메일로 가입</button><br>
                <button class="otherbtn" role="button">다른 방법으로 계속하기</button>

                <hr class="hrdeco" color="#d1d1d1">

                <button class="loginbtn" role="button">로그인</button>
            </div>
        </div>
    </section>

    <!-- modal -->
    <div class="overlay"></div>

    <div class="modal-wrapper">
        <div class="modal-inner">
            <div class="othertxt">
                <div class="title">다른 방법으로 계속하기</div><br>
                <div class="description">계정을 등록하고 인생책을 만나보세요!</div>
                <a href="{% url 'user:sign' %}"><img src="{% static 'user/modal/images/close.svg' %}" alt=""></a>
            </div>
            <div class="account-btn">
                <button class="naver-btn">
                    <img class="naver-img" src="{% static 'user/modal/images/naver.png' %}" alt="">
                    <h2>네이버로 계속하기</h2>
                </button><br>
                <button class="kakao-btn">
                    <img class="kakao-img" src="{% static 'user/modal/images/kakao.png' %}" alt="">
                    <h2>카카오톡으로 계속하기</h2>
                </button>
            </div>
        </div>
    </div>
</body>
</html>
